
<div class="customer-table">
  <div class="customer-table-thead">
    <div class="customer-table-thead-th">
      <h2 class="cutomer-table-title text-center">出貨紀錄</h2>
    </div>
  </div>
  <div class="customer-table-tbody">
    <div class="customer-table-column row no-gutters align-items-stretch">
      <div class="customer-table-column-item col-12 row no-gutters text-center border-0">
        <div class="customer-table-list customer-table-list-no-padding w-100 p-0 row no-gutters text-center border-wrapper">
          <div class="col">
            <label>入包時間</label>
          </div>
          <div class="col">
            <label>入包數量</label>
          </div>
          <div class="col">
            <label>入包溫濕度</label>
          </div>
          <div class="col">
            <label>成數</label>
          </div>
          <div class="col">
            <label>接菌品系</label>
          </div>
          <div class="col">
            <label>菌種來源</label>
          </div>
          <div class="col">
            <label>入包菇農</label>
          </div>
          <div class="col">
            <label>補償方式</label>
          </div>
        </div>
        <div class="customer-table-list customer-table-list-no-padding w-100 p-0 row no-gutters text-center border-wrapper">
          <div class="col"><span>108/01/01</span></div>
          <div class="col"><span>150000</span><span>包</span></div>
          <div class="col"><span>24.6</span><span>°C / </span><span>72</span><span>%</span></div>
          <div class="col"><span>8成5</span></div>
          <div class="col"><span>921</span></div>
          <div class="col"><span>阿興</span></div>
          <div class="col"><span>ＸＸＸ</span></div>
          <div class="col"><span>補包</span></div>
        </div>
        <div class="customer-table-list customer-table-list-no-padding w-100 p-0 row no-gutters text-center border-wrapper">
          <div class="col"><span>108/01/01</span></div>
          <div class="col"><span>180000</span><span>包</span></div>
          <div class="col"><span>24.6</span><span>°C / </span><span>72</span><span>%</span></div>
          <div class="col"><span>8成5</span></div>
          <div class="col"><span>921</span></div>
          <div class="col"><span>老趙</span></div>
          <div class="col"><span>ＸＸＸ</span></div>
          <div class="col"><span>扣款</span></div>
        </div>
        <div class="customer-table-list customer-table-list-no-padding w-100 p-0 row no-gutters text-center border-wrapper">
          <div class="col"><span>108/01/01</span></div>
          <div class="col"><span>200000</span><span>包</span></div>
          <div class="col"><span>24.6</span><span>°C / </span><span>72</span><span>%</span></div>
          <div class="col"><span>8成5</span></div>
          <div class="col"><span>黑早</span></div>
          <div class="col"><span>ＸＸ</span></div>
          <div class="col"><span>ＸＸＸ</span></div>
          <div class="col"><span>補包</span></div>
        </div>
      </div>
    </div>
  </div>
</div>