
<div class="customer-table">
  <div class="customer-table-thead">
    <div class="customer-table-thead-th">
      <h2 class="cutomer-table-title text-center">植菌紀錄</h2>
    </div>
  </div>
  <div class="customer-table-tbody">
    <div class="customer-table-column row no-gutters align-items-stretch">
      <div class="customer-table-list w-100 p-0 row no-gutters text-center">
        <h4 class="customer-table-label w-100">接種室1</h4>
      </div>
      <div class="customer-table-column-item col-sm-6 col-12 no-gutters">
        <div class="col-lg-3 col-sm-4 col-4">
          <label class="customer-table-label col-auto p-0">拌木屑PH值</label>
        </div>
        <div class="col-lg-9 col-sm-8 col-8 pr-0">
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col" type="text" value="7.1 / 7.3 / 7.2" readonly="readonly"/>
          </div>
        </div>
      </div>
      <div class="customer-table-column-item col-sm-6 col-12 no-gutters">
        <div class="col-lg-3 col-sm-4 col-4">
          <label class="customer-table-label col-auto p-0">拌木屑濃度</label>
        </div>
        <div class="col-lg-9 col-sm-8 col-8 pr-0">
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col" type="text" value="64.5 / 66.2 / 65.3" readonly="readonly"/><span class="customer-table-symbol col-auto">%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>