
<div class="customer-table">
  <div class="customer-table-thead">
    <div class="customer-table-thead-th border-wrapper">
      <h2 class="cutomer-table-title text-center">攪拌裝填記錄</h2>
    </div>
  </div>
  <div class="customer-table-tbody">
    <div class="customer-table-column row no-gutters align-items-center">
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-auto">
          <label class="customer-table-label">日期:</label>
        </div>
        <div class="customer-table-list col">
          <input class="form-control customer-table-input text-center" type="text" value="108年01月01日" readonly="readonly"/>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-auto">
          <label class="customer-table-label">天氣:</label>
        </div>
        <div class="customer-table-list col">
          <input class="form-control customer-table-input text-center" type="text" value="晴" readonly="readonly"/>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-auto">
          <label class="customer-table-label">溫度:</label>
        </div>
        <div class="customer-table-list col">
          <input class="form-control customer-table-input text-center" type="text" value="24" readonly="readonly"/>
        </div>
        <div class="customer-table-list col-auto"><span class="customer-table-symbol">°C</span></div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-auto">
          <label class="customer-table-label">濕度:</label>
        </div>
        <div class="customer-table-list col">
          <input class="form-control customer-table-input text-center" type="text" value="72" readonly="readonly"/>
        </div>
        <div class="customer-table-list col-auto"><span class="customer-table-symbol">%</span></div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-auto">
          <label class="customer-table-label">水分:</label>
        </div>
        <div class="customer-table-list col">
          <input class="form-control customer-table-input text-center" type="text" value="155" readonly="readonly"/>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-auto">
          <label class="customer-table-label">養分:</label>
        </div>
        <div class="customer-table-list col">
          <input class="form-control customer-table-input text-center" type="text" value="70" readonly="readonly"/>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-auto">
          <label class="customer-table-label p-0">值菌品系:</label>
        </div>
        <div class="customer-table-list col">
          <input class="form-control customer-table-input" type="text" value="XXX" readonly="readonly"/>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-auto">
          <label class="customer-table-label">包重:</label>
        </div>
        <div class="customer-table-list col">
          <input class="form-control customer-table-input" type="text" value="1483" readonly="readonly"/>
        </div>
        <div class="customer-table-list col-auto"><span class="customer-table-symbol">公克</span></div>
      </div>
      <div class="customer-table-column-item col-sm-6 col-12 no-gutters">
        <div class="col-md-4 col-sm-5 col-4">
          <label class="customer-table-label col-auto p-0">木屑PH值:</label>
        </div>
        <div class="col-md-8 col-sm-7 col-8 pr-0">
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col" type="text" value="7.2 / 7.1 / 7.5" readonly="readonly"/>
          </div>
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col" type="text" value="7.2 / 7.1 / 7.5" readonly="readonly"/>
          </div>
        </div>
      </div>
      <div class="customer-table-column-item col-sm-6 col-12 no-gutters">
        <div class="col-md-4 col-sm-5 col-4">
          <label class="customer-table-label col-auto p-0">木屑濃度:</label>
        </div>
        <div class="col-md-8 col-sm-7 col-8 pr-0">
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col" type="text" value="64.3 / 64.7 / 64.2" readonly="readonly"/><span class="customer-table-symbol col-auto">%</span>
          </div>
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col" type="text" value="64.3 / 64.7 / 64.2" readonly="readonly"/><span class="customer-table-symbol col-auto">%</span>
          </div>
        </div>
      </div>
      <div class="customer-table-column-item col-12">
        <h4 class="customer-table-label w-100 text-center">添加劑</h4>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-lg-5 col-sm-6 no-gutters">
          <input class="form-control customer-table-input col" type="text" value="A.黃豆粉" readonly="readonly"/>
        </div>
        <div class="customer-table-list col-lg-7 col-sm-6 row no-gutters">
          <input class="form-control customer-table-input col text-right" type="text" value="5000" readonly="readonly"/><span class="customer-table-symbol col-auto">公克</span>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-lg-5 col-sm-6 no-gutters">
          <input class="form-control customer-table-input col" type="text" value="B.玉米粉" readonly="readonly"/>
        </div>
        <div class="customer-table-list col-lg-7 col-sm-6 row no-gutters">
          <input class="form-control customer-table-input col text-right" type="text" value="4000" readonly="readonly"/><span class="customer-table-symbol col-auto">公克</span>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-lg-5 col-sm-6 no-gutters">
          <input class="form-control customer-table-input col" type="text" value="C.粉頭" readonly="readonly"/>
        </div>
        <div class="customer-table-list col-lg-7 col-sm-6 row no-gutters">
          <input class="form-control customer-table-input col text-right" type="text" value="5000" readonly="readonly"/><span class="customer-table-symbol col-auto">公克</span>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-lg-5 col-sm-6 no-gutters">
          <input class="form-control customer-table-input col" type="text" value="D.米糠" readonly="readonly"/>
        </div>
        <div class="customer-table-list col-lg-7 col-sm-6 row no-gutters">
          <input class="form-control customer-table-input col text-right" type="text" value="80000" readonly="readonly"/><span class="customer-table-symbol col-auto">公克</span>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-lg-5 col-md-6 no-gutters">
          <input class="form-control customer-table-input col" type="text" value="E.碳酸鈣" readonly="readonly"/>
        </div>
        <div class="customer-table-list col-lg-7 col-sm-6 row no-gutters">
          <input class="form-control customer-table-input col text-right" type="text" value="2000" readonly="readonly"/><span class="customer-table-symbol col-auto">公克</span>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-lg-5 col-md-6 no-gutters">
          <input class="form-control customer-table-input col" type="text" value="F." readonly="readonly"/>
        </div>
        <div class="customer-table-list col-lg-7 col-sm-6 row no-gutters">
          <input class="form-control customer-table-input col text-right" type="text" value="" readonly="readonly"/><span class="customer-table-symbol col-auto">公克</span>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-lg-5 col-md-6 no-gutters">
          <input class="form-control customer-table-input col" type="text" value="G." readonly="readonly"/>
        </div>
        <div class="customer-table-list col-lg-7 col-sm-6 row no-gutters">
          <input class="form-control customer-table-input col text-right" type="text" value="" readonly="readonly"/><span class="customer-table-symbol col-auto">公克</span>
        </div>
      </div>
      <div class="customer-table-column-item col-md-3 col-sm-6 no-gutters">
        <div class="customer-table-list col-lg-5 col-md-6 no-gutters">
          <input class="form-control customer-table-input col" type="text" value="H." readonly="readonly"/>
        </div>
        <div class="customer-table-list col-lg-7 col-sm-6 row no-gutters">
          <input class="form-control customer-table-input col text-right" type="text" value="" readonly="readonly"/><span class="customer-table-symbol col-auto">公克</span>
        </div>
      </div>
      <div class="customer-table-column-item col-sm-6 col-12 no-gutters">
        <div class="col-lg-3 col-sm-4 col-4">
          <label class="customer-table-label col-auto p-0">拌木屑PH值</label>
        </div>
        <div class="col-lg-9 col-sm-8 col-8 pr-0">
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col" type="text" value="7.1 / 7.3 / 7.2" readonly="readonly"/>
          </div>
        </div>
      </div>
      <div class="customer-table-column-item col-sm-6 col-12 no-gutters">
        <div class="col-lg-3 col-sm-4 col-4">
          <label class="customer-table-label col-auto p-0">拌木屑濃度</label>
        </div>
        <div class="col-lg-9 col-sm-8 col-8 pr-0">
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col" type="text" value="64.5 / 66.2 / 65.3" readonly="readonly"/><span class="customer-table-symbol col-auto">%</span>
          </div>
        </div>
      </div>
      <div class="customer-table-column-item col-lg-3 col-md-6 col-12 no-gutters">
        <div class="col-md-6 col-sm-4 col-4">
          <label class="customer-table-label col-auto p-0">木屑攪拌數</label>
        </div>
        <div class="col-md-6 col-sm-8 col-8 pr-0">
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col text-center" type="text" value="41 / 45238" readonly="readonly"/>
          </div>
        </div>
      </div>
      <div class="customer-table-column-item col-lg-3 col-md-6 col-12 no-gutters">
        <div class="col-md-6 col-sm-4 col-4">
          <label class="customer-table-label col-auto p-0">營養攪拌數</label>
        </div>
        <div class="col-md-6 col-sm-8 col-8 pr-0">
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col text-center" type="text" value="4 / 710 / 2907" readonly="readonly"/>
          </div>
        </div>
      </div>
      <div class="customer-table-column-item col-lg-3 col-md-6 col-12 no-gutters">
        <div class="col-md-6 col-sm-4 col-4">
          <label class="customer-table-label col-auto p-0">水量攪拌數</label>
        </div>
        <div class="col-md-6 col-sm-8 col-8 pr-0">
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col text-center" type="text" value="41 / 6378" readonly="readonly"/>
          </div>
        </div>
      </div>
      <div class="customer-table-column-item col-lg-3 col-md-6 col-12 no-gutters">
        <div class="col-md-6 col-sm-4 col-4">
          <label class="customer-table-label col-auto p-0">木屑入場時間</label>
        </div>
        <div class="col-md-6 col-sm-8 col-8 pr-0">
          <div class="customer-table-column-item">
            <input class="form-control customer-table-input col text-center" type="text" value="14:53" readonly="readonly"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>