
<div class="customer-table">
  <div class="customer-table-thead">
    <div class="customer-table-thead-th">
      <h2 class="cutomer-table-title text-center">滅菌記錄</h2>
    </div>
  </div>
  <div class="customer-table-tbody">
    <div class="customer-table-column row no-gutters align-items-stretch">
      <div class="customer-table-column-item col-sm-6 col-12 row no-gutters flex-column">
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <h4 class="customer-table-label w-100">滅菌時間(分)</h4>
        </div>
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <div class="col-1"></div>
          <div class="col-1"></div>
          <div class="col-1">1</div>
          <div class="col-1">2</div>
          <div class="col-1">3</div>
          <div class="col-1">4</div>
          <div class="col-1">5</div>
          <div class="col-1">6</div>
          <div class="col-1">7</div>
          <div class="col-1">8</div>
          <div class="col-1">9</div>
          <div class="col-1">10</div>
        </div>
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <div class="col-1">
            <label>番次</label>
          </div>
          <div class="col-11 row no-gutters">
            <div class="col-12 row no-gutters">
              <div class="col">
                <p class="m-0">A</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">903</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">905</p>
              </div>
              <div class="col">
                <p class="m-0">906</p>
              </div>
              <div class="col">
                <p class="m-0">907</p>
              </div>
              <div class="col">
                <p class="m-0">908</p>
              </div>
              <div class="col">
                <p class="m-0">909</p>
              </div>
              <div class="col">
                <p class="m-0">900</p>
              </div>
              <div class="col">
                <p class="m-0">899</p>
              </div>
            </div>
            <div class="col-12 row no-gutters">
              <div class="col">
                <p class="m-0">B</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">903</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">905</p>
              </div>
              <div class="col">
                <p class="m-0">906</p>
              </div>
              <div class="col">
                <p class="m-0">907</p>
              </div>
              <div class="col">
                <p class="m-0">908</p>
              </div>
              <div class="col">
                <p class="m-0">909</p>
              </div>
              <div class="col">
                <p class="m-0">900</p>
              </div>
              <div class="col">
                <p class="m-0">899</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="customer-table-column-item col-sm-6 col-12 row no-gutters flex-column">
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <h4 class="customer-table-label w-100">壓力(KG)</h4>
        </div>
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <div class="col-1"></div>
          <div class="col-1"></div>
          <div class="col-1">1</div>
          <div class="col-1">2</div>
          <div class="col-1">3</div>
          <div class="col-1">4</div>
          <div class="col-1">5</div>
          <div class="col-1">6</div>
          <div class="col-1">7</div>
          <div class="col-1">8</div>
          <div class="col-1">9</div>
          <div class="col-1">10</div>
        </div>
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <div class="col-1">
            <label>番次</label>
          </div>
          <div class="col-11 row no-gutters">
            <div class="col-12 row no-gutters">
              <div class="col">
                <p class="m-0">A</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">903</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">905</p>
              </div>
              <div class="col">
                <p class="m-0">906</p>
              </div>
              <div class="col">
                <p class="m-0">907</p>
              </div>
              <div class="col">
                <p class="m-0">908</p>
              </div>
              <div class="col">
                <p class="m-0">909</p>
              </div>
              <div class="col">
                <p class="m-0">900</p>
              </div>
              <div class="col">
                <p class="m-0">899</p>
              </div>
            </div>
            <div class="col-12 row no-gutters">
              <div class="col">
                <p class="m-0">B</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">903</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">905</p>
              </div>
              <div class="col">
                <p class="m-0">906</p>
              </div>
              <div class="col">
                <p class="m-0">907</p>
              </div>
              <div class="col">
                <p class="m-0">908</p>
              </div>
              <div class="col">
                <p class="m-0">909</p>
              </div>
              <div class="col">
                <p class="m-0">900</p>
              </div>
              <div class="col">
                <p class="m-0">899</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="customer-table-column-item col-sm-6 col-12 row no-gutters flex-column">
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <h4 class="customer-table-label w-100">保溫時間</h4>
        </div>
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <div class="col-1"></div>
          <div class="col-1"></div>
          <div class="col-1">1</div>
          <div class="col-1">2</div>
          <div class="col-1">3</div>
          <div class="col-1">4</div>
          <div class="col-1">5</div>
          <div class="col-1">6</div>
          <div class="col-1">7</div>
          <div class="col-1">8</div>
          <div class="col-1">9</div>
          <div class="col-1">10</div>
        </div>
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <div class="col-1">
            <label>番次</label>
          </div>
          <div class="col-11 row no-gutters">
            <div class="col-12 row no-gutters">
              <div class="col">
                <p class="m-0">A</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">903</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">905</p>
              </div>
              <div class="col">
                <p class="m-0">906</p>
              </div>
              <div class="col">
                <p class="m-0">907</p>
              </div>
              <div class="col">
                <p class="m-0">908</p>
              </div>
              <div class="col">
                <p class="m-0">909</p>
              </div>
              <div class="col">
                <p class="m-0">900</p>
              </div>
              <div class="col">
                <p class="m-0">899</p>
              </div>
            </div>
            <div class="col-12 row no-gutters">
              <div class="col">
                <p class="m-0">B</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">903</p>
              </div>
              <div class="col">
                <p class="m-0">904</p>
              </div>
              <div class="col">
                <p class="m-0">905</p>
              </div>
              <div class="col">
                <p class="m-0">906</p>
              </div>
              <div class="col">
                <p class="m-0">907</p>
              </div>
              <div class="col">
                <p class="m-0">908</p>
              </div>
              <div class="col">
                <p class="m-0">909</p>
              </div>
              <div class="col">
                <p class="m-0">900</p>
              </div>
              <div class="col">
                <p class="m-0">899</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="customer-table-column-item col-sm-6 col-12 row no-gutters flex-column">
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <h4 class="customer-table-label w-100">出炊時間溫度</h4>
        </div>
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <div class="col-1"></div>
          <div class="col-1"></div>
          <div class="col-1">1</div>
          <div class="col-1">2</div>
          <div class="col-1">3</div>
          <div class="col-1">4</div>
          <div class="col-1">5</div>
          <div class="col-1">6</div>
          <div class="col-1">7</div>
          <div class="col-1">8</div>
          <div class="col-1">9</div>
          <div class="col-1">10</div>
        </div>
        <div class="customer-table-list w-100 p-0 row no-gutters text-center">
          <div class="col-1">
            <label>番次</label>
          </div>
          <div class="col-11 row no-gutters">
            <div class="col-12 row no-gutters align-items-center">
              <div class="col-1">
                <label>A</label>
              </div>
              <div class="col-11 row no-gutters">
                <div class="col">
                  <p class="m-0">904</p>
                </div>
                <div class="col">
                  <p class="m-0">903</p>
                </div>
                <div class="col">
                  <p class="m-0">904</p>
                </div>
                <div class="col">
                  <p class="m-0">905</p>
                </div>
                <div class="col">
                  <p class="m-0">906</p>
                </div>
                <div class="col">
                  <p class="m-0">907</p>
                </div>
                <div class="col">
                  <p class="m-0">908</p>
                </div>
                <div class="col">
                  <p class="m-0">909</p>
                </div>
                <div class="col">
                  <p class="m-0">900</p>
                </div>
                <div class="col">
                  <p class="m-0">899</p>
                </div>
                <div class="col">
                  <p class="m-0">904</p>
                </div>
                <div class="col">
                  <p class="m-0">903</p>
                </div>
                <div class="col">
                  <p class="m-0">904</p>
                </div>
                <div class="col">
                  <p class="m-0">905</p>
                </div>
                <div class="col">
                  <p class="m-0">906</p>
                </div>
                <div class="col">
                  <p class="m-0">907</p>
                </div>
                <div class="col">
                  <p class="m-0">908</p>
                </div>
                <div class="col">
                  <p class="m-0">909</p>
                </div>
                <div class="col">
                  <p class="m-0">900</p>
                </div>
                <div class="col">
                  <p class="m-0">899</p>
                </div>
              </div>
            </div>
            <div class="col-12 row no-gutters align-items-center">
              <div class="col-1">
                <label>B</label>
              </div>
              <div class="col-11 row no-gutters">
                <div class="col">
                  <p class="m-0">904</p>
                </div>
                <div class="col">
                  <p class="m-0">903</p>
                </div>
                <div class="col">
                  <p class="m-0">904</p>
                </div>
                <div class="col">
                  <p class="m-0">905</p>
                </div>
                <div class="col">
                  <p class="m-0">906</p>
                </div>
                <div class="col">
                  <p class="m-0">907</p>
                </div>
                <div class="col">
                  <p class="m-0">908</p>
                </div>
                <div class="col">
                  <p class="m-0">909</p>
                </div>
                <div class="col">
                  <p class="m-0">900</p>
                </div>
                <div class="col">
                  <p class="m-0">899</p>
                </div>
                <div class="col">
                  <p class="m-0">904</p>
                </div>
                <div class="col">
                  <p class="m-0">903</p>
                </div>
                <div class="col">
                  <p class="m-0">904</p>
                </div>
                <div class="col">
                  <p class="m-0">905</p>
                </div>
                <div class="col">
                  <p class="m-0">906</p>
                </div>
                <div class="col">
                  <p class="m-0">907</p>
                </div>
                <div class="col">
                  <p class="m-0">908</p>
                </div>
                <div class="col">
                  <p class="m-0">909</p>
                </div>
                <div class="col">
                  <p class="m-0">900</p>
                </div>
                <div class="col">
                  <p class="m-0">899</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>