
<div class="customer-table">
  <div class="customer-table-thead">
    <div class="customer-table-thead-th">
      <h2 class="cutomer-table-title text-center">出貨紀錄</h2>
    </div>
  </div>
  <div class="customer-table-tbody">
    <div class="customer-table-column row no-gutters align-items-stretch">
      <div class="customer-table-column-item col-12 row no-gutters flex-column">
        <div class="customer-table-list customer-table-list-no-padding w-100 p-0 row no-gutters text-center">
          <div class="col">
            <label>入包時間</label>
          </div>
          <div class="col">
            <label>入包數量</label>
          </div>
          <div class="col">
            <label>入包溫濕度</label>
          </div>
          <div class="col">
            <label>成數</label>
          </div>
          <div class="col">
            <label>接菌品系</label>
          </div>
          <div class="col">
            <label>菌種來源</label>
          </div>
          <div class="col">
            <label>入包菇農</label>
          </div>
          <div class="col">
            <label>補償方式</label>
          </div>
        </div>
        <div class="customer-table-list customer-table-list-no-padding w-100 p-0 row no-gutters text-center">
          <div class="col"><span>108/01/01</span></div>
          <div class="col row no-gutters"><span class="col-auto">150000</span><span class="col">包</span></div>
          <div class="col"><span>黑草</span></div>
          <div class="col"><span>2500</span></div>
          <div class="col"><span>-</span></div>
        </div>
        <div class="customer-table-list customer-table-list-no-padding w-100 p-0 row no-gutters text-center">
          <div class="col"><span>108/01/01</span></div>
          <div class="col"><span>XXX</span></div>
          <div class="col"><span>黑草</span></div>
          <div class="col"><span>2500</span></div>
          <div class="col"><span>-</span></div>
        </div>
        <div class="customer-table-list customer-table-list-no-padding w-100 p-0 row no-gutters text-center">
          <div class="col"><span>108/01/01</span></div>
          <div class="col"><span>XXX</span></div>
          <div class="col"><span>黑草</span></div>
          <div class="col"><span>2500</span></div>
          <div class="col"><span>-</span></div>
        </div>
        <div class="customer-table-list customer-table-list-no-padding w-100 p-0 row no-gutters text-center">
          <div class="col"><span>108/01/01</span></div>
          <div class="col"><span>XXX</span></div>
          <div class="col"><span>黑草</span></div>
          <div class="col"><span>2500</span></div>
          <div class="col"><span>-</span></div>
        </div>
      </div>
    </div>
  </div>
</div>