/** layuiAdmin.pro-v1.2.1 LPPL License By http://www.layui.com/admin/ */

.layadmin-panel-selection {
    width: 768px;
    margin: 30px auto
}

.layadmin-panel-selection .layui-panel-window {
    padding: 30px 50px;
    border-top-color: #ddd;
    text-align: center
}

.layadmin-panel-selection .layui-panel-window h2 {
    padding-bottom: 15px;
    font-size: 18px
}

.layadmin-panel-selection .layui-panel-window ul {
    margin-top: 15px;
    text-align: left
}

.layadmin-homepage-panel .text-center, .layadmin-maillist-fluid .layadmin-text-center {
    text-align: center
}

.layadmin-panel-selection .layui-btn-container {
    margin-top: 30px
}

.layadmin-panel-selection .layui-btn-container .layui-btn {
    width: 100%
}

.layadmin-maillist-fluid .layadmin-contact-box {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e7eaec;
    overflow: hidden
}

.layadmin-maillist-fluid .layadmin-text-center img {
    max-width: 80%;
    border-radius: 50%;
    margin-top: 5px
}

.layadmin-maillist-fluid .layadmin-font-blod {
    font-weight: 600
}

.layadmin-maillist-fluid .layadmin-maillist-img {
    margin-top: 5px
}

.layadmin-maillist-fluid .layadmin-title {
    margin: 5px 0 10px
}

.layadmin-maillist-fluid .layadmin-textimg {
    line-height: 25px;
    margin-bottom: 10px
}

.layadmin-maillist-fluid .layadmin-address {
    line-height: 1.5;
    margin-bottom: 20px
}

.layadmin-maillist-fluid .layadmin-padding-left20 {
    padding-left: 20px
}

.layadmin-homepage-shadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #e7ecf3
}

.layadmin-homepage-panel {
    margin-bottom: 15px
}

.layadmin-homepage-information {
    padding: 15px;
    border-bottom: 1px solid #e9e9e9
}

.layadmin-homepage-pad-ver {
    padding-top: 15px;
    padding-bottom: 15px
}

.layadmin-homepage-pad-img {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .1);
    border-radius: 50%
}

.layadmin-homepage-font {
    font-weight: 600;
    color: #2b425b;
    font-size: 1.2em
}

.layadmin-homepage-min-font {
    margin: 5px 0 10px;
    font-size: .9em;
    color: #afb9c3
}

.layadmin-homepage-pad-ver a {
    line-height: 1.1em;
    font-size: 1.3em;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    padding: 6px 12px
}

.layadmin-homepage-pad-ver a:hover {
    background: #5FB878;
    color: #fff
}

.layadmin-homepage-about {
    padding: 15px;
    font-weight: 600;
    color: #2b425b
}

.layadmin-homepage-list-group {
    font-size: .9em;
    line-height: 1.25;
    margin-bottom: 5px
}

.layadmin-homepage-list-group li {
    padding: 5px 15px;
    border: 1px solid transparent;
    margin-bottom: -1px;
    border-width: 1px 0;
    border-radius: 0;
    background-color: transparent;
    color: inherit
}

.layadmin-homepage-list-group li i {
    font-size: 1.333em;
    line-height: 1.095em;
    vertical-align: middle;
    margin-right: 4px
}

.layadmin-homepage-list-group li a.color {
    color: #337ab7
}

.layadmin-homepage-pad-hor {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 15px;
    color: #758697;
    text-indent: 20px
}

.layadmin-homepage-list-inline {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 20px
}

.layadmin-homepage-list-inline a {
    display: inline-block
}

.layadmin-homepage-list-inline .layui-btn {
    font-size: .9em;
    line-height: 1.42857;
    vertical-align: middle;
    height: auto;
    padding: 4px 7px;
    margin: 0 10px 10px 0
}

.layadmin-homepage-text-center {
    text-align: center;
    margin-bottom: 15px
}

.layadmin-homepage-padding15 {
    padding: 15px;
    margin-bottom: 15px
}

.layadmin-homepage-padding8 {
    padding: 0 8px
}

.layadmin-homepage-paddingmb {
    margin: 0 -7.5px
}

.layadmin-homepage-content {
    margin-left: 15px;
    padding: 0
}

.layadmin-homepage-content .new-section-xs {
    margin: 12px 0;
    color: inherit;
    border: 0!important;
    height: 0;
    box-sizing: content-box
}

.layadmin-homepage-content .h4 {
    font-size: 16px;
    font-weight: 600;
    color: #2b425b
}

.layadmin-homepage-content small {
    color: #afb9c3
}

.layadmin-homepage-text-center .layui-icon {
    color: #FFB800;
    padding-right: 5px
}

.layadmin-homepage-padding15 .layui-col-sm5 a {
    font-size: 11px;
    height: auto;
    line-height: 1.5;
    padding: 5px 10px;
    float: right
}

.layadmin-homepage-padding15 .layui-btn-normal {
    margin: 0 15px
}

.layadmin-homepage-list-imgtxt .layui-col-sm10, .layadmin-homepage-list-imgtxt .layui-col-sm2 {
    background: 0 0
}

.layadmin-homepage-list-imgtxt .panel-body {
    padding: 15px 20px 25px;
    overflow: hidden;
    margin-bottom: 15px
}

.layadmin-homepage-list-imgtxt .panel-body .media-left {
    display: block;
    float: left;
    vertical-align: top;
    padding-right: 10px
}

.layadmin-homepage-list-imgtxt .panel-body .media-left img {
    border-radius: 50%
}

.layadmin-homepage-list-imgtxt .media-body {
    width: auto;
    display: block;
    overflow: hidden
}

.layadmin-homepage-list-imgtxt .media-body .pad-btm {
    padding-bottom: 15px
}

.layadmin-homepage-list-imgtxt .media-body .pad-btm p:first-child {
    padding-bottom: 5px
}

.layadmin-homepage-list-imgtxt .media-body .min-font {
    margin-bottom: 10px
}

.layadmin-homepage-list-imgtxt .media-body .min-font .layui-breadcrumb a {
    font-size: 11px
}

.layui-breadcrumb span[lay-separator] {
    margin: 0 5px
}

.layadmin-homepage-list-imgtxt .media-body .pad-btm .fontColor a {
    font-weight: 600;
    color: #337ab7
}

.layadmin-homepage-list-imgtxt .media-body .pad-btm .fontColor span {
    color: #758697;
    font-weight: 600
}

.layadmin-homepage-list-imgtxt .media-body .h-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 10px
}

.layadmin-homepage-list-imgtxt .img-xs {
    width: 32px;
    height: 32px;
    border-radius: 50%
}

.layadmin-homepage-list-imgtxt .media-body .media {
    margin-top: 15px;
    overflow: hidden
}

.layadmin-homepage-list-imgtxt .media-body .media .media-right {
    float: right;
    padding-top: 10px
}

.layadmin-homepage-list-imgtxt .media-body .media .media-right .list-inline {
    margin-bottom: 10px
}

.layadmin-homepage-list-imgtxt .media-body .media .list-inline li {
    padding: 0 5px;
    display: inline-block
}

.layadmin-homepage-list-imgtxt .media-body .media .media-right .list-inline li span {
    font-weight: 600
}

.layadmin-homepage-list-imgtxt .media-body .media .media-left {
    display: block;
    overflow: hidden;
    width: auto
}

.layadmin-homepage-list-imgtxt .media-body .media .media-left .font-blod {
    font-weight: 700;
    color: #758697
}

.layadmin-homepage-list-imgtxt .media-body .media-list {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #e9e9e9
}

.layadmin-homepage-list-imgtxt .media-body .media-list .media-item {
    padding-bottom: 15px;
    margin-top: 15px
}

.layadmin-homepage-list-imgtxt .media-body .media-list .media-item-left {
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 5px
}

.layadmin-homepage-list-imgtxt .media-body .media-list .media-item-left img {
    display: block;
    float: left
}

.layadmin-homepage-list-imgtxt .media-body .media-list .media-text {
    overflow: hidden;
    width: auto;
    display: inline-block
}

.layadmin-homepage-list-imgtxt .media-body .media-list .media-text a {
    margin-right: 10px;
    font-weight: 600;
    display: inline-block
}

.layadmin-homepage-list-imgtxt .media-body .media-list .media-text div:nth-child(2) {
    margin-top: 5px
}

.layadmin-homepage-list-imgtxt .media-body .media-list .layui-btn {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    padding: 0 20px;
    margin-bottom: 10px
}

.homepage-top .layui-card-body img {
    width: 100%
}

.homepage-top .layui-card-body .margin-top10 {
    margin-top: 10px
}

.homepage-top .layui-card-body .layui-btn {
    width: 100%;
    display: block
}

.homepage-top {
    padding-bottom: 20px
}

.layadmin-privateletterlist-item {
    position: relative;
    display: block;
    padding: 10px 15px
}

.homepage-bottom .layui-card-body {
    padding: 0
}

.homepage-bottom .layui-card-body img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 10px
}

.homepage-bottom .layui-card-body .meida-left {
    display: table-cell;
    padding-right: 10px
}

.homepage-bottom .layui-card-body .meida-right {
    display: table-cell;
    vertical-align: top
}

.homepage-bottom .layui-card-body a:hover {
    background: #F2F2F2
}

.homepage-bottom .layui-card-body {
    background: #fff
}

.layui-card-header .panel-title .layui-icon {
    position: relative;
    left: 0;
    right: 0
}

.layadmin-cmdlist-fluid {
    padding-bottom: 60px
}

.cmdlist-container {
    background: #fff;
    border: 1px solid transparent
}

.cmdlist-container:hover {
    border: 1px solid #e8e8e8
}

.cmdlist-container img {
    width: 100%
}

.cmdlist-text {
    padding: 20px
}

.cmdlist-text .info {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
    color: #666;
    margin-bottom: 10px
}

.cmdlist-text .price {
    font-size: 14px
}

.cmdlist-text .price b {
    margin-right: 20px
}

.cmdlist-text .price p {
    display: inline-block
}

.cmdlist-text .flow {
    text-align: right;
    float: right
}

#demo0 {
    text-align: center
}

.layadmin-message-fluid .layui-col-md12 {
    background: #fff;
    height: auto;
    padding-bottom: 50px
}

.layadmin-message-fluid .layui-input-block {
    margin-left: 0
}

.layadmin-message-fluid .layui-form {
    padding: 45px 40px 0
}

.layadmin-message-fluid .layui-form-label {
    text-align: left;
    font-size: 18px;
    padding-left: 10px
}

.layadmin-message-fluid .layui-textarea {
    min-height: 100px;
    font-size: 16px
}

.layadmin-message-fluid .layui-input-right {
    float: right
}

.layadmin-messag-icon {
    overflow: hidden;
    float: left;
    margin-top: 4px
}

.layadmin-messag-icon .layui-icon {
    font-size: 24px;
    line-height: 30px;
    margin-right: 15px;
    color: #C4CBCF
}

.message-content {
    padding: 0 40px
}

.message-content .media-body {
    margin-bottom: 60px
}

.message-content .media-body .pad-btm {
    padding-bottom: 0
}

.message-content .media-left {
    float: left;
    margin-right: 10px
}

.message-content .media-left img {
    border-radius: 50%
}

.message-text {
    padding-top: 10px
}

.message-content-btn {
    text-align: center
}

.message-content .layui-btn {
    height: auto;
    line-height: 26px;
    padding: 5px 30px;
    font-size: 16px
}

.layadmin-serach-main .layui-card-header {
    height: auto;
    line-height: 24px;
    padding: 15px
}

.layadmin-serach-list {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #f6f6f6
}

.layadmin-serach-list h3 {
    padding: 10px 0
}

.layadmin-serach-list h3 .layui-badge {
    top: -2px
}

.layadmin-serach-list p {
    color: #666
}

.layadmin-serach-list li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    clear: both
}

.layui-serachlist-cover {
    float: left;
    margin-right: 15px
}

.layui-serachlist-cover img {
    width: 90px;
    height: 90px
}

.layadmin-caller {
    background: #fff;
    padding: 30px
}

.layadmin-caller em {
    font-style: normal
}

.layadmin-caller .caller-fl {
    float: left
}

.layadmin-caller .caller-fr {
    float: right
}

.layadmin-caller .caller-seach {
    position: relative;
    padding-bottom: 40px
}

.layadmin-caller .caller-seach .caller-icon {
    font-size: 18px;
    position: absolute;
    top: 9px
}

.layadmin-caller .caller-seach-icon {
    left: 6px
}

.layadmin-caller .caller-dump-icon {
    right: 6px;
    cursor: pointer
}

.layadmin-caller .caller-pl32 {
    padding: 0 32px
}

.layadmin-caller .caller-tab {
    margin: 0
}

.layadmin-caller .caller-contar {
    padding-bottom: 20px
}

.layadmin-caller .caller-contar .caller-item {
    padding: 25px 0;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0
}

.layadmin-caller .caller-contar .caller-item .caller-main {
    margin-left: 20px
}

.layadmin-caller .caller-contar .caller-item .caller-main p {
    line-height: 100%;
    padding: 8px 0
}

.layadmin-caller .caller-contar .caller-item .caller-main p:first-child {
    padding-top: 0
}

.layadmin-caller .caller-contar .caller-item .caller-main em {
    margin-left: 5px
}

.layadmin-caller .caller-contar .caller-item .caller-main .caller-adds i {
    padding-right: 5px;
    margin: 0
}

.layadmin-caller .caller-contar .caller-item .caller-main .caller-adds {
    padding-bottom: 12px
}

.layadmin-caller .caller-contar .caller-iconset i {
    margin: 0 5px
}

.layadmin-caller .caller-contar .caller-iconset i:first-child {
    margin-left: 0
}

.layadmin-caller .caller-contar button {
    margin-top: 22px
}

.layadmin-caller .caller-contar .caller-img {
    width: 40px;
    height: 40px;
    border-radius: 100%
}