meta(charset='utf-8')
meta(name='renderer' content='webkit')
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0')
link(rel='stylesheet' href='./static/layui/layui/css/layui.css' media='all')
link(rel='stylesheet' href='./static/layui/style/admin.css' media='all')
link(rel='stylesheet' href='./static/layui/style/template.css' media='all')
//- Bootstrap CSS
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css")
//- icon
//- <link rel="stylesheet" href="https://i.icomoon.io/public/temp/26ddf5f27b/work066/style.css">
link(rel="stylesheet", href="styles/icomoon/style.css")
//- Self CSS
link(rel="stylesheet", href="styles/style.css")

script(src='https://code.jquery.com/jquery-3.4.1.js')
script(src='./scripts/default/main.js')