style.
    #index-body .layui-header .layui-layout-left,
    #index-body .layui-nav-item.layadmin-flexible {
        display: none;
    }
    body:not(#index-body) .layui-nav-item.layui-nav-fullscreen,
    body:not(#index-body) .layui-nav-item.layui-nav-member {
        display: none;
    }
//- 頭部區域
.layui-header

    //- 首頁以外出現
    ul.layui-nav.layui-layout-left.p-0
        li.layui-nav-item.layadmin-flexible(lay-unselect='')
            a(href='./' layadmin-event='flexible' title='回首頁')
                i.icon-home.layui-icon-shrink-left


    ul.layui-nav.layui-layout-center.text-center
        li.layui-nav-item(lay-unselect='')
            a(href='javascript:;')
                cite.font-weight-bold= page_title


    ul.layui-nav.layui-layout-right(lay-filter='layadmin-layout-right')
        li.layui-nav-item.layui-hide-xs.layui-nav-fullscreen(lay-unselect='')
            a(href='javascript:;', layadmin-event='fullscreen')
                i.layui-icon.layui-icon-screen-full
        li.layui-nav-item.layui-nav-member(lay-unselect='')
            a(href='javascript:;')
                i.icon-member
            dl.layui-nav-child
                dd
                    a(lay-href='') 基本資料
                dd  
                    a(lay-href='') 修改密碼
                hr  
                dd(style='text-align: center;')
                    a(href='') 退出
            li.layui-nav-item.layui-hide-xs(lay-unselect='')
                a(href='javascript:;', layadmin-event='')
                    i.layui-icon.layui-icon-more-vertical
        //- 首頁以外出現
        li.layui-nav-item.layadmin-flexible(lay-unselect='')
            a(href='javascript:;' layadmin-event='flexible' title='側邊伸縮')
                i#LAY_app_flexible.layui-icon.layui-icon-shrink-right

//- 側邊菜單
.layui-side.layui-side-menu
    .layui-side-scroll
        .layui-logo(lay-href='home/console.html')
            span MES & 遠端監控系統
        ul#LAY-system-side-menu.layui-nav.layui-nav-tree(lay-shrink='all', lay-filter='layadmin-system-side-menu')
            li.layui-nav-item.layui-nav-itemed(data-name='home')
                a.d-flex.align-items-center(href='javascript:;', lay-tips='主頁', lay-direction='2')
                    i.layui-icon.layui-icon-home
                    cite 主頁
                dl.layui-nav-child
                    dd.layui-this(data-name='stir')
                        a(href='stir.html') 攪拌裝填記錄列表
                    dd(data-name='sterilization')
                        a(href='sterilization.html') 滅菌記錄
                    dd(data-name='returns')
                        a(href='returns.html') 菌種進退貨資訊
                    dd(data-name='phytophage')
                        a(href='phytophage.html') 植菌記錄
                    dd(data-name='express')
                        a(href='express.html') 出貨記錄
                    dd(data-name='history')
                        a(href='history.html') 歷史記錄