doctype html
html
    - var page_title = "新增出貨記錄表"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./express-log.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #ecfcff;")
                        .layadmin-tabsbody-item.layui-show
                            //- #LAY-component-grid-speed-dial.layui-fluid
                            //-     .layui-card
                            section.form-section
                                .form.my-2
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group1") 入包時間
                                        .col
                                            select.form-control.p-0#form-group1
                                                option(value="" selected)
                                                option(value='10') 2019年09月10日
                                                option(value='8') 2019年09月08日
                                                option(value='1') 2019年09月01日
                                    div.form-group.row
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group2") 入包溫度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group2.form-control.text-center(type="text")
                                            .col-auto.border-0.pr-2
                                                span    
                                    div.form-group.row
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group3") 入包濕度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group3.form-control.text-center(type="text")
                                            .col-auto.border-0.pr-2
                                                span %
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group4") 入包客戶
                                        .col
                                            input.form-control#form-group4(type="text")
                                    div.form-group.row(required)
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group5") 入包數量
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group5.form-control.text-center(type="text")
                                            .col-auto.border-0.pr-2
                                                span 包
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group6") 成數
                                        .col
                                            input.form-control#form-group6(type="text")
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group7") 補償方式
                                        .col
                                            select.form-control.p-0#form-group7
                                                option(value="" selected)
                                                option(value='1') 補償方式1
                                                option(value='2') 補償方式2
                                                option(value='3') 補償方式3
                                    div.form-group.row.border-0
                                        label.col-auto.col-form-label.text-danger.border-0(for="form-group8") 出貨單號
                                        .col
                                            input.form-control#form-group8.text-danger(type="text" value="201910091201001")
                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./express.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 儲存
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')

        script(src='./static/layui/layui/layui.js')
        script.
            layui.config({
                base: './static/layui/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                var $ = layui.$
                , admin = layui.admin
                , form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate
                , element = layui.element;
                form.render();
                laydate.render({
                    elem: '#date'
                });
                form.on('select(log)', function (data) {
                    location.href = './express-log.html';
                });
            });
