doctype html
html
    - var page_title = "出貨記錄"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card{height: 267px;}
    body.layui-layout-body
        #LAY_app.layadmin-tabspage-none
            .layui-layout.layui-layout-admin
                //- 头部区域
                include _header.pug

                //- 主体内容
                #LAY_app_body.layui-body
                    .layadmin-tabsbody-item.layui-show
                        #LAY-component-grid-speed-dial.layui-fluid
                            .layui-card.layui-form(lay-verify='from')
                                .layui-card-body.layui-row.layui-col-space10
                                    .layui-col-md12
                                        a#addLog.layui-btn.layui-btn-fluid.layui-btn-primary(type='button', href='./express-add.html')
                                            i.layui-icon.layui-icon-add-circle
                                            |  新增出貨記錄表
                                    .layui-col-md12
                                        select(name='log', lay-filter='log')
                                            option(value='') 出貨記錄
                                            option(value='10') 2019年09月10日
                                            option(value='8') 2019年09月08日
                                            option(value='1') 2019年09月01日
                //- 辅助元素，一般用于移动设备下遮罩
                .layadmin-body-shade(layadmin-event='shade')
        script(src='./static/layui/layui/layui.js')
        script.
            layui.config({
                base: './static/layui/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function(){
                var $ = layui.$
                    ,admin = layui.admin
                    ,form = layui.form
                    ,layer = layui.layer
                    ,laydate = layui.laydate
                    ,element = layui.element;
                form.render();

                laydate.render({
                    elem: '#date',
                    showBottom: false,
                    done: function(value, date, endDate){
                        location.href = './express-log.html';
                    }
                });

                form.on('select(log)', function(data){
                    location.href = './express-log.html';
                });
            });
