.customer-table
    .customer-table-thead.border-wrapper
        .customer-table-thead-th
            h2.cutomer-table-title.text-center.m-0 攪拌裝填記錄
    .customer-table-tbody
        .customer-table-column.row.no-gutters.align-items-center
            //- 第一組
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-auto
                    label.customer-table-label 日期:
                .customer-table-list.customer-table-list-no-padding.col
                    input.form-control.customer-table-input.text-center(type="text" value="108年01月01日" readonly)
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-auto
                    label.customer-table-label 天氣:
                .customer-table-list.customer-table-list-no-padding.col
                    input.form-control.customer-table-input.text-center(type="text" value="晴" readonly)
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-auto
                    label.customer-table-label 溫度:
                .customer-table-list.customer-table-list-no-padding.col
                    input.form-control.customer-table-input.text-center(type="text" value="24" readonly)
                .customer-table-list.customer-table-list-no-padding.col-auto
                    span.customer-table-symbol °C
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-auto
                    label.customer-table-label 濕度:
                .customer-table-list.customer-table-list-no-padding.col
                    input.form-control.customer-table-input.text-center(type="text" value="72" readonly)
                .customer-table-list.customer-table-list-no-padding.col-auto
                    span.customer-table-symbol %
            //- 第二組
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-auto
                    label.customer-table-label 水分:
                .customer-table-list.customer-table-list-no-padding.col
                    input.form-control.customer-table-input.text-center(type="text" value="155" readonly)
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-auto
                    label.customer-table-label 養分:
                .customer-table-list.customer-table-list-no-padding.col
                    input.form-control.customer-table-input.text-center(type="text" value="70" readonly)
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-auto
                    label.customer-table-label.p-0 值菌品系:
                .customer-table-list.customer-table-list-no-padding.col
                    input.form-control.customer-table-input.text-center(type="text" value="XXX" readonly)
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-auto
                    label.customer-table-label 包重:
                .customer-table-list.customer-table-list-no-padding.col
                    input.form-control.customer-table-input.text-center(type="text" value="1483" readonly)
                .customer-table-list.customer-table-list-no-padding.col-auto
                    span.customer-table-symbol 公克
            //- 第三組
            .customer-table-column-item.col-sm-6.col-12.no-gutters
                .col-md-4.col-sm-5.col-4
                    label.customer-table-label.col-auto.p-0 木屑PH值:
                .col-md-8.col-sm-7.col-8.pr-0
                    .customer-table-column-item
                        input.form-control.customer-table-input.col(type="text" value="7.2 / 7.1 / 7.5" readonly)
                    .customer-table-column-item
                        input.form-control.customer-table-input.col(type="text" value="7.2 / 7.1 / 7.5" readonly)
            .customer-table-column-item.col-sm-6.col-12.no-gutters
                .col-md-4.col-sm-5.col-4
                    label.customer-table-label.col-auto.p-0 木屑濃度:
                .col-md-8.col-sm-7.col-8.pr-0
                    .customer-table-column-item
                        input.form-control.customer-table-input.col(type="text" value="64.3 / 64.7 / 64.2" readonly)
                        span.customer-table-symbol.col-auto %
                    .customer-table-column-item
                        input.form-control.customer-table-input.col(type="text" value="64.3 / 64.7 / 64.2" readonly)
                        span.customer-table-symbol.col-auto %
            //- 第四組
            .customer-table-column-item.col-12
                h4.customer-table-label.w-100.text-center.px-0.py-2 添加劑
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-lg-5.col-sm-6.no-gutters
                    input.form-control.customer-table-input.col(type="text" value="A.黃豆粉" readonly)
                .customer-table-list.customer-table-list-no-padding.col-lg-7.col-sm-6.row.no-gutters
                    input.form-control.customer-table-input.col.text-right(type="text" value="5000" readonly)
                    span.customer-table-symbol.col-auto 公克
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-lg-5.col-sm-6.no-gutters
                    input.form-control.customer-table-input.col(type="text" value="B.玉米粉" readonly)
                .customer-table-list.customer-table-list-no-padding.col-lg-7.col-sm-6.row.no-gutters
                    input.form-control.customer-table-input.col.text-right(type="text" value="4000" readonly)
                    span.customer-table-symbol.col-auto 公克
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-lg-5.col-sm-6.no-gutters
                    input.form-control.customer-table-input.col(type="text" value="C.粉頭" readonly)
                .customer-table-list.customer-table-list-no-padding.col-lg-7.col-sm-6.row.no-gutters
                    input.form-control.customer-table-input.col.text-right(type="text" value="5000" readonly)
                    span.customer-table-symbol.col-auto 公克
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-lg-5.col-sm-6.no-gutters
                    input.form-control.customer-table-input.col(type="text" value="D.米糠" readonly)
                .customer-table-list.customer-table-list-no-padding.col-lg-7.col-sm-6.row.no-gutters
                    input.form-control.customer-table-input.col.text-right(type="text" value="80000" readonly)
                    span.customer-table-symbol.col-auto 公克
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-lg-5.col-md-6.no-gutters
                    input.form-control.customer-table-input.col(type="text" value="E.碳酸鈣" readonly)
                .customer-table-list.customer-table-list-no-padding.col-lg-7.col-sm-6.row.no-gutters
                    input.form-control.customer-table-input.col.text-right(type="text" value="2000" readonly)
                    span.customer-table-symbol.col-auto 公克
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-lg-5.col-md-6.no-gutters
                    input.form-control.customer-table-input.col(type="text" value="F." readonly)
                .customer-table-list.customer-table-list-no-padding.col-lg-7.col-sm-6.row.no-gutters
                    input.form-control.customer-table-input.col.text-right(type="text" value="" readonly)
                    span.customer-table-symbol.col-auto 公克
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-lg-5.col-md-6.no-gutters
                    input.form-control.customer-table-input.col(type="text" value="G." readonly)
                .customer-table-list.customer-table-list-no-padding.col-lg-7.col-sm-6.row.no-gutters
                    input.form-control.customer-table-input.col.text-right(type="text" value="" readonly)
                    span.customer-table-symbol.col-auto 公克
            .customer-table-column-item.col-md-3.col-sm-6.no-gutters
                .customer-table-list.customer-table-list-no-padding.col-lg-5.col-md-6.no-gutters
                    input.form-control.customer-table-input.col(type="text" value="H." readonly)
                .customer-table-list.customer-table-list-no-padding.col-lg-7.col-sm-6.row.no-gutters
                    input.form-control.customer-table-input.col.text-right(type="text" value="" readonly)
                    span.customer-table-symbol.col-auto 公克
            //- 第五組
            .customer-table-column-item.col-sm-6.col-12.no-gutters
                .col-lg-3.col-sm-4.col-4
                    label.customer-table-label.col-auto.p-0 拌木屑PH值
                .col-lg-9.col-sm-8.col-8.pr-0
                    .customer-table-column-item
                        input.form-control.customer-table-input.col(type="text" value="7.1 / 7.3 / 7.2" readonly)
            .customer-table-column-item.col-sm-6.col-12.no-gutters
                .col-lg-3.col-sm-4.col-4
                    label.customer-table-label.col-auto.p-0 拌木屑濃度
                .col-lg-9.col-sm-8.col-8.pr-0
                    .customer-table-column-item
                        input.form-control.customer-table-input.col(type="text" value="64.5 / 66.2 / 65.3" readonly)
                        span.customer-table-symbol.col-auto %
            //- 第六組
            .customer-table-column-item.col-lg-3.col-md-6.col-12.no-gutters
                .col-md-6.col-sm-4.col-4
                    label.customer-table-label.col-auto.p-0 木屑攪拌數
                .col-md-6.col-sm-8.col-8.pr-0
                    .customer-table-column-item
                        input.form-control.customer-table-input.col.text-center(type="text" value="41 / 45238" readonly)
            .customer-table-column-item.col-lg-3.col-md-6.col-12.no-gutters
                .col-md-6.col-sm-4.col-4
                    label.customer-table-label.col-auto.p-0 營養攪拌數
                .col-md-6.col-sm-8.col-8.pr-0
                    .customer-table-column-item
                        input.form-control.customer-table-input.col.text-center(type="text" value="4 / 710 / 2907" readonly)
            .customer-table-column-item.col-lg-3.col-md-6.col-12.no-gutters
                .col-md-6.col-sm-4.col-4
                    label.customer-table-label.col-auto.p-0 水量攪拌數
                .col-md-6.col-sm-8.col-8.pr-0
                    .customer-table-column-item
                        input.form-control.customer-table-input.col.text-center(type="text" value="41 / 6378" readonly)
            .customer-table-column-item.col-lg-3.col-md-6.col-12.no-gutters
                .col-md-6.col-sm-4.col-4
                    label.customer-table-label.col-auto.p-0 木屑入場時間
                .col-md-6.col-sm-8.col-8.pr-0
                    .customer-table-column-item
                        input.form-control.customer-table-input.col.text-center(type="text" value="14:53" readonly)