doctype html
html
    - var page_title = "歷史記錄"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./returns-modify.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #daf0e7;")
                        .layadmin-tabsbody-item.layui-show
                            .customer-table-wrapper.mt-lg-3.mb-lg-4(style="max-width: 1000px; margin: auto; border: solid 2px #000;")
                            
                                include history-list1.pug

                                include history-list2.pug

                                include history-list3.pug

                                include history-list4.pug

                                include history-list5.pug

                                include history-list6.pug











                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./history.html' lay-filter='component-form-demo1') 上一頁
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')

        script(src='./static/layui/layui/layui.js')
        script.
                layui.config({
                    base: './static/layui/' //静态资源所在路径
                    }).extend({
                    index: 'lib/index' //主入口模块
                    }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                    var $ = layui.$
                        , admin = layui.admin
                        , form = layui.form
                        , layer = layui.layer
                        , laydate = layui.laydate
                        , element = layui.element;
                    form.render();

                    laydate.render({
                        elem: '#start_time',
                        type: 'time'
                    });
                    laydate.render({
                        elem: '#end_time',
                        type: 'time'
                    });

                    form.on('select(log)', function (data) {
                        location.href = './history.html';
                    });
                    });

