.customer-table
    .customer-table-thead.border-wrapper
        .customer-table-thead-th
            h2.cutomer-table-title.text-center.m-0 庫存管理

    .customer-table-tbody
        .customer-table-column.row.no-gutters.align-items-stretch
            //- 第一組
            .customer-table-column-item.col-12.row.no-gutters.flex-column
                .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center.border-wrapper
                    .col
                        label 進貨日期
                    .col
                        label 菌種來源
                    .col
                        label 菌種品系
                    .col
                        label 進貨數量
                    .col
                        label 退貨數量
                .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center.border-wrapper
                    .col
                        span 108/01/01
                    .col
                        span XXX
                    .col
                        span 黑草
                    .col
                        span 2500
                    .col
                        span -
                .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center.border-wrapper
                    .col
                        span 108/01/01
                    .col
                        span XXX
                    .col
                        span 黑草
                    .col
                        span 2500
                    .col
                        span -
                .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center.border-wrapper
                    .col
                        span 108/01/01
                    .col
                        span XXX
                    .col
                        span 黑草
                    .col
                        span 2500
                    .col
                        span -
                .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center.border-wrapper
                    .col
                        span 108/01/01
                    .col
                        span XXX
                    .col
                        span 黑草
                    .col
                        span 2500
                    .col
                        span -
