.customer-table
    .customer-table-thead
        .customer-table-thead-th
            h2.cutomer-table-title.text-center 出貨紀錄

    .customer-table-tbody
        .customer-table-column.row.no-gutters.align-items-stretch
            //- 第一組
            .customer-table-column-item.col-12.row.no-gutters.text-center.border-0
                //- .customer-table-list.col.p-0.border-wrapper
                //-     .w-100
                //-         label.customer-table-label.p-0.w-100.text-center(for="") 入包時間
                //-     .w-100
                //-         p.m-0.px-1 108/01/01
                //-     .w-100
                //-         p.m-0.px-1 108/01/01
                //-     .w-100
                //-         p.m-0.px-1 108/01/01
                //- .customer-table-list.col.p-0.border-wrapper
                //-     .w-100
                //-         label.customer-table-label.p-0.w-100.text-center(for="") 入包數量
                //-     .w-100
                //-         p.m-0.px-1 150000包
                //-     .w-100
                //-         p.m-0.px-1 180000包
                //-     .w-100
                //-         p.m-0.px-1 200000包
                //- .customer-table-list.col.p-0.border-wrapper
                //-     .w-100
                //-         label.customer-table-label.p-0.w-100.text-center(for="") 入包溫濕度
                //-     .w-100.row.no-gutters.justify-content-center
                //-         p.m-0.px-1.col-auto 24.6
                //-         p.m-0.px-1.col-auto °C / 
                //-         p.m-0.px-1.col-auto 72
                //-         p.m-0.px-1.col-auto %
                //-     .w-100.row.no-gutters.justify-content-center
                //-         p.m-0.px-1.col-auto 24.6
                //-         p.m-0.px-1.col-auto °C / 
                //-         p.m-0.px-1.col-auto 72
                //-         p.m-0.px-1.col-auto %
                //-     .w-100.row.no-gutters.justify-content-center
                //-         p.m-0.px-1.col-auto 24.6
                //-         p.m-0.px-1.col-auto °C / 
                //-         p.m-0.px-1.col-auto 72
                //-         p.m-0.px-1.col-auto %
                //- .customer-table-list.col.p-0.border-wrapper
                //-     .w-100
                //-         label.customer-table-label.p-0.w-100.text-center(for="") 成數
                //-     .w-100
                //-         p.m-0.px-1 8成5
                //-     .w-100
                //-         p.m-0.px-1 8成5
                //-     .w-100
                //-         p.m-0.px-1 8成5
                //- .customer-table-list.col.p-0.border-wrapper
                //-     .w-100
                //-         label.customer-table-label.p-0.w-100.text-center(for="") 接菌品系
                //-     .w-100
                //-         p.m-0.px-1 921
                //-     .w-100
                //-         p.m-0.px-1 921
                //-     .w-100
                //-         p.m-0.px-1 黑早
                //- .customer-table-list.col.p-0.border-wrapper
                //-     .w-100
                //-         label.customer-table-label.p-0.w-100.text-center(for="") 菌種來源
                //-     .w-100
                //-         p.m-0.px-1 ＸＸＸ
                //-     .w-100
                //-         p.m-0.px-1 ＸＸＸ
                //-     .w-100
                //-         p.m-0.px-1 ＸＸＸ
                //- .customer-table-list.col.p-0.border-wrapper
                //-     .w-100
                //-         label.customer-table-label.p-0.w-100.text-center(for="") 入包菇農
                //-     .w-100
                //-         p.m-0.px-1 ＸＸＸ
                //-     .w-100
                //-         p.m-0.px-1 ＸＸＸ
                //-     .w-100
                //-         p.m-0.px-1 ＸＸＸ
                //- .customer-table-list.col.p-0.border-wrapper
                //-     .w-100
                //-         label.customer-table-label.p-0.w-100.text-center(for="") 補償方式
                //-     .w-100
                //-         p.m-0.px-1 補包
                //-     .w-100
                //-         p.m-0.px-1 扣款
                //-     .w-100
                //-         p.m-0.px-1 補包



                .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center.border-wrapper
                    .col
                        label 入包時間
                    .col
                        label 入包數量
                    .col
                        label 入包溫濕度
                    .col
                        label 成數
                    .col
                        label 接菌品系
                    .col
                        label 菌種來源
                    .col
                        label 入包菇農
                    .col
                        label 補償方式
                .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center.border-wrapper
                    .col
                        span 108/01/01
                    .col
                        span 150000
                        span 包
                    .col
                        span 24.6
                        span °C / 
                        span 72
                        span %
                    .col
                        span 8成5
                    .col
                        span 921
                    .col
                        span 阿興
                    .col
                        span ＸＸＸ
                    .col
                        span 補包
                .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center.border-wrapper
                    .col
                        span 108/01/01
                    .col
                        span 180000
                        span 包
                    .col
                        span 24.6
                        span °C / 
                        span 72
                        span %
                    .col
                        span 8成5
                    .col
                        span 921
                    .col
                        span 老趙
                    .col
                        span ＸＸＸ
                    .col
                        span 扣款
                .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center.border-wrapper
                    .col
                        span 108/01/01
                    .col
                        span 200000
                        span 包
                    .col
                        span 24.6
                        span °C / 
                        span 72
                        span %
                    .col
                        span 8成5
                    .col
                        span 黑早
                    .col
                        span ＸＸ
                    .col
                        span ＸＸＸ
                    .col
                        span 補包



