.customer-table.history-list2-wrapper
    .customer-table-thead.border-wrapper
        .customer-table-thead-th
            h2.cutomer-table-title.text-center.m-0 滅菌記錄

    .customer-table-tbody
        .customer-table-column.row.no-gutters.align-items-stretch
            .table-responsive.col-md-6.col-12
                table.table.table-bordered.border-dark.text-center.table-bordered.m-0
                    thead.border-dark
                        tr
                            th.border-dark(colspan="12")
                                p.m-0.font-bold 滅菌時間(分)
                    tbody.border-dark
                        tr
                            td.border-dark(colspan="2")
                            td.border-dark(colspan="1") 1
                            td.border-dark(colspan="1") 2
                            td.border-dark(colspan="1") 3
                            td.border-dark(colspan="1") 4
                            td.border-dark(colspan="1") 5
                            td.border-dark(colspan="1") 6
                            td.border-dark(colspan="1") 7
                            td.border-dark(colspan="1") 8
                            td.border-dark(colspan="1") 9
                            td.border-dark(colspan="1") 10
                        tr
                            td.border-dark(colspan="1" rowspan="3") 番次
                        tr
                            td.border-dark(colspan="1") A
                            td.border-dark(colspan="1") 904
                            td.border-dark(colspan="1") 903
                            td.border-dark(colspan="1") 904
                            td.border-dark(colspan="1") 905
                            td.border-dark(colspan="1") 906
                            td.border-dark(colspan="1") 907
                            td.border-dark(colspan="1") 908
                            td.border-dark(colspan="1") 909
                            td.border-dark(colspan="1") 900
                            td.border-dark(colspan="1") 899
                        tr
                            td.border-dark(colspan="1") B
                            td.border-dark(colspan="1") 904
                            td.border-dark(colspan="1") 903
                            td.border-dark(colspan="1") 904
                            td.border-dark(colspan="1") 905
                            td.border-dark(colspan="1") 906
                            td.border-dark(colspan="1") 907
                            td.border-dark(colspan="1") 908
                            td.border-dark(colspan="1") 909
                            td.border-dark(colspan="1") 900
                            td.border-dark(colspan="1") 899

            .table-responsive.col-md-6.col-12
                table.table.table-bordered.border-dark.text-center.table-bordered.m-0
                    thead.border-dark
                        tr
                            th.border-dark(colspan="12")
                                p.m-0.font-bold 壓力(KG)
                    tbody.border-dark
                        tr
                            td.border-dark(colspan="2")
                            td.border-dark(colspan="1") 1
                            td.border-dark(colspan="1") 2
                            td.border-dark(colspan="1") 3
                            td.border-dark(colspan="1") 4
                            td.border-dark(colspan="1") 5
                            td.border-dark(colspan="1") 6
                            td.border-dark(colspan="1") 7
                            td.border-dark(colspan="1") 8
                            td.border-dark(colspan="1") 9
                            td.border-dark(colspan="1") 10
                        tr
                            td.border-dark(colspan="1" rowspan="3") 番次
                        tr
                            td.border-dark(colspan="1") A
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                        tr
                            td.border-dark(colspan="1") B
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") 26
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -

                            
            .table-responsive.col-md-6.col-12
                table.table.table-bordered.border-dark.text-center.table-bordered.m-0
                    thead.border-dark
                        tr
                            th.border-dark(colspan="12")
                                p.m-0.font-bold 保溫時間
                    tbody.border-dark
                        tr
                            td.border-dark(colspan="2")
                            td.border-dark(colspan="1") 1
                            td.border-dark(colspan="1") 2
                            td.border-dark(colspan="1") 3
                            td.border-dark(colspan="1") 4
                            td.border-dark(colspan="1") 5
                            td.border-dark(colspan="1") 6
                            td.border-dark(colspan="1") 7
                            td.border-dark(colspan="1") 8
                            td.border-dark(colspan="1") 9
                            td.border-dark(colspan="1") 10
                        tr
                            td.border-dark(colspan="1" rowspan="8") 番次
                        tr
                            td.border-dark(colspan="1") A
                            td.border-dark(colspan="1") 904
                            td.border-dark(colspan="1") 902
                            td.border-dark(colspan="1") 908
                            td.border-dark(colspan="1") 905
                            td.border-dark(colspan="1") 906
                            td.border-dark(colspan="1") 900
                            td.border-dark(colspan="1") 910
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                        tr
                            td.border-dark(colspan="1") B
                            td.border-dark(colspan="1") 121
                            td.border-dark(colspan="1") 121
                            td.border-dark(colspan="1") 120
                            td.border-dark(colspan="1") 121
                            td.border-dark(colspan="1") 122
                            td.border-dark(colspan="1") 120
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            




            .table-responsive.col-md-6.col-12
                table.table.table-bordered.border-dark.text-center.table-bordered.m-0
                    thead.border-dark
                        tr
                            th.border-dark(colspan="12")
                                p.m-0.font-bold 出炊時間溫度
                    tbody.border-dark
                        tr
                            td.border-dark(colspan="2")
                            td.border-dark(colspan="1") 1
                            td.border-dark(colspan="1") 2
                            td.border-dark(colspan="1") 3
                            td.border-dark(colspan="1") 4
                            td.border-dark(colspan="1") 5
                            td.border-dark(colspan="1") 6
                            td.border-dark(colspan="1") 7
                            td.border-dark(colspan="1") 8
                            td.border-dark(colspan="1") 9
                            td.border-dark(colspan="1") 10
                        tr
                            td.border-dark(colspan="1" rowspan="8") 番次
                        tr
                            td.border-dark(colspan="1" rowspan="3") A
                        tr
                            td.border-dark(colspan="1") 95
                            td.border-dark(colspan="1") 94
                            td.border-dark(colspan="1") 96
                            td.border-dark(colspan="1") 98
                            td.border-dark(colspan="1") 99
                            td.border-dark(colspan="1") 98
                            td.border-dark(colspan="1") 95
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                        tr
                            td.border-dark(colspan="1") 121
                            td.border-dark(colspan="1") 121
                            td.border-dark(colspan="1") 120
                            td.border-dark(colspan="1") 121
                            td.border-dark(colspan="1") 122
                            td.border-dark(colspan="1") 120
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                        tr
                            td.border-dark(colspan="1" rowspan="3") B
                        tr
                            td.border-dark(colspan="1") 95
                            td.border-dark(colspan="1") 94
                            td.border-dark(colspan="1") 96
                            td.border-dark(colspan="1") 98
                            td.border-dark(colspan="1") 99
                            td.border-dark(colspan="1") 98
                            td.border-dark(colspan="1") 95
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                        tr
                            td.border-dark(colspan="1") 121
                            td.border-dark(colspan="1") 121
                            td.border-dark(colspan="1") 120
                            td.border-dark(colspan="1") 121
                            td.border-dark(colspan="1") 122
                            td.border-dark(colspan="1") 120
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -
                            td.border-dark(colspan="1") -

       
            //- .table-responsive.col-md-6.col-12
            //-     table.table.table-bordered.border-dark.text-center.table-bordered.m-0
            //-         thead.border-dark
            //-             tr
            //-                 th.border-dark(colspan="12")
            //-                     p.m-0.font-bold 滅菌時間(分)
            //-         tbody.border-dark
            //-             tr
            //-                 td.border-dark(colspan="2")
            //-                 td.border-dark
            //-                     p.m-0 1
            //-                 td.border-dark
            //-                     p.m-0 2
            //-                 td.border-dark
            //-                     p.m-0 3
            //-                 td.border-dark
            //-                     p.m-0 4
            //-                 td.border-dark
            //-                     p.m-0 5
            //-                 td.border-dark
            //-                     p.m-0 6
            //-                 td.border-dark
            //-                     p.m-0 7
            //-                 td.border-dark
            //-                     p.m-0 8
            //-                 td.border-dark
            //-                     p.m-0 9
            //-                 td.border-dark
            //-                     p.m-0 10
            //-             tr
            //-                 td.border-dark(rowspan="3")
            //-                     p 番次
            //-             tr
            //-                 td.border-dark
            //-                     p A
            //-                 td.border-dark
            //-                     p.m-0 904
            //-                 td.border-dark
            //-                     p.m-0 903
            //-                 td.border-dark
            //-                     p.m-0 904
            //-                 td.border-dark
            //-                     p.m-0 905
            //-                 td.border-dark
            //-                     p.m-0 906
            //-                 td.border-dark
            //-                     p.m-0 907
            //-                 td.border-dark
            //-                     p.m-0 908
            //-                 td.border-dark
            //-                     p.m-0 909
            //-                 td.border-dark
            //-                     p.m-0 900
            //-                 td.border-dark
            //-                     p.m-0 899
            //-             tr
            //-                 td.border-dark
            //-                     p B
            //-                 td.border-dark
            //-                     p.m-0 904
            //-                 td.border-dark
            //-                     p.m-0 903
            //-                 td.border-dark
            //-                     p.m-0 904
            //-                 td.border-dark
            //-                     p.m-0 905
            //-                 td.border-dark
            //-                     p.m-0 906
            //-                 td.border-dark
            //-                     p.m-0 907
            //-                 td.border-dark
            //-                     p.m-0 908
            //-                 td.border-dark
            //-                     p.m-0 909
            //-                 td.border-dark
            //-                     p.m-0 900
            //-                 td.border-dark
            //-                     p.m-0 899    




            
                        
            //- //- 第一組
            //- .customer-table-column-item.col-sm-6.col-12.row.no-gutters.flex-column
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         h4.customer-table-label.w-100 滅菌時間(分)
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         .col-1
            //-         .col-1
            //-         each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            //-             .col-1= val
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         .col-1
            //-             label 番次
            //-         .col-11.row.no-gutters
            //-             .col-12.row.no-gutters
            //-                 each text1_1 in ["A", "904", "903", "904", "905", "906", "907", "908", "909", "900", "899"]
            //-                     .col
            //-                         p.m-0= text1_1
            //-             .col-12.row.no-gutters
            //-                 each text1_2 in ["B", "904", "903", "904", "905", "906", "907", "908", "909", "900", "899"]
            //-                     .col
            //-                         p.m-0= text1_2
            //- //- 第二組
            //- .customer-table-column-item.col-sm-6.col-12.row.no-gutters.flex-column
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         h4.customer-table-label.w-100 壓力(KG)
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         .col-1
            //-         .col-1
            //-         each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            //-             .col-1= val
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         .col-1
            //-             label 番次
            //-         .col-11.row.no-gutters
            //-             .col-12.row.no-gutters
            //-                 each text2_1 in ["A", "904", "903", "904", "905", "906", "907", "908", "909", "900", "899"]
            //-                     .col
            //-                         p.m-0= text2_1
            //-             .col-12.row.no-gutters
            //-                 each text2_2 in ["B", "904", "903", "904", "905", "906", "907", "908", "909", "900", "899"]
            //-                     .col
            //-                         p.m-0= text2_2
            //- //- 第三組
            //- .customer-table-column-item.col-sm-6.col-12.row.no-gutters.flex-column
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         h4.customer-table-label.w-100 保溫時間
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         .col-1
            //-         .col-1
            //-         each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            //-             .col-1= val
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         .col-1
            //-             label 番次
            //-         .col-11.row.no-gutters
            //-             .col-12.row.no-gutters
            //-                 each text3_1 in ["A", "904", "903", "904", "905", "906", "907", "908", "909", "900", "899"]
            //-                     .col
            //-                         p.m-0= text3_1
            //-             .col-12.row.no-gutters
            //-                 each text3_2 in ["B", "904", "903", "904", "905", "906", "907", "908", "909", "900", "899"]
            //-                     .col
            //-                         p.m-0= text3_2
            //- //- 第四組
            //- .customer-table-column-item.col-sm-6.col-12.row.no-gutters.flex-column
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         h4.customer-table-label.w-100 出炊時間溫度
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         .col-1
            //-         .col-1
            //-         each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            //-             .col-1= val
            //-     .customer-table-list.customer-table-list-no-padding.w-100.p-0.row.no-gutters.text-center
            //-         .col-1
            //-             label 番次
            //-         .col-11.row.no-gutters
            //-             .col-12.row.no-gutters.align-items-center
            //-                 .col-1
            //-                     label A
            //-                 .col-11.row.no-gutters
            //-                     each text4_A_1 in ["904", "903", "904", "905", "906", "907", "908", "909", "900", "899"]
            //-                         .col
            //-                             p.m-0= text4_A_1
            //-                     each text4_A_2 in ["904", "903", "904", "905", "906", "907", "908", "909", "900", "899"]
            //-                         .col
            //-                             p.m-0= text4_A_2
            //-             .col-12.row.no-gutters.align-items-center
            //-                 .col-1
            //-                     label B
            //-                 .col-11.row.no-gutters
            //-                     each text4_B_1 in ["904", "903", "904", "905", "906", "907", "908", "909", "900", "899"]
            //-                         .col
            //-                             p.m-0= text4_B_1
            //-                     each text4_B_2 in ["904", "903", "904", "905", "906", "907", "908", "909", "900", "899"]
            //-                         .col
            //-                             p.m-0= text4_B_2