.customer-table
    .customer-table-thead.border-wrapper
        .customer-table-thead-th
            h2.cutomer-table-title.text-center.m-0 菌種資訊

    .customer-table-tbody
        .customer-table-column.row.no-gutters.align-items-stretch
            //- 第一組 1
            .customer-table-column-item.col-12.row.no-gutters.border-wrapper
                .customer-table-list.col-4.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-2(for="") 接菌日期
                    .col-12.border-top.border-dark
                        input.form-control.customer-table-input.text-center(type="text" value="107/11/01" readonly)
                .customer-table-list.col-4.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-2(for="") 品系
                    .col-12.border-top.border-dark
                        input.form-control.customer-table-input.text-center(type="text" value="黑早" readonly)
                .customer-table-list.col-4.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-2(for="") 出貨數量
                    .col-12.border-top.border-dark
                        input.form-control.customer-table-input.text-center(type="text" value="2500" readonly)
            
            //- 第一組 2
            .customer-table-column-item.col-12
                h4.customer-table-label.w-100.text-center.px-0.py-2 菌種生長情形
            .customer-table-column-item.col-12.row.no-gutters.border-wrapper
                .customer-table-list.col-sm.col-xs-6.col-12.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-0(for="") 第7天
                    .col-12
                        img.p-2.img-fluid.ml-auto.mr-auto.d-block(src="https://via.placeholder.com/200x120", alt="")
                .customer-table-list.col-sm.col-xs-6.col-12.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-0(for="") 第14天
                    .col-12
                        img.p-2.img-fluid.ml-auto.mr-auto.d-block(src="https://via.placeholder.com/200x120", alt="")
                .customer-table-list.col-sm.col-xs-6.col-12.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-0(for="") 第21天
                    .col-12
                        img.p-2.img-fluid.ml-auto.mr-auto.d-block(src="https://via.placeholder.com/200x120", alt="")
                .customer-table-list.col-sm.col-xs-6.col-12.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-0(for="") 第28天
                    .col-12
                        img.p-2.img-fluid.ml-auto.mr-auto.d-block(src="https://via.placeholder.com/200x120", alt="")
                .customer-table-list.col-sm.col-xs-6.col-12.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-0(for="") 實際出貨狀況
                    .col-12
                        img.p-2.img-fluid.ml-auto.mr-auto.d-block(src="https://via.placeholder.com/200x120", alt="")

        .customer-table-column.row.no-gutters.align-items-stretch
            //- 第二組 1
            .customer-table-column-item.col-12.row.no-gutters.border-wrapper
                .customer-table-list.col-4.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-2(for="") 接菌日期
                    .col-12.border-top.border-dark
                        input.form-control.customer-table-input.text-center(type="text" value="107/11/01" readonly)
                .customer-table-list.col-4.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-2(for="") 品系
                    .col-12.border-top.border-dark
                        input.form-control.customer-table-input.text-center(type="text" value="黑早" readonly)
                .customer-table-list.col-4.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-2(for="") 出貨數量
                    .col-12.border-top.border-dark
                        input.form-control.customer-table-input.text-center(type="text" value="2500" readonly)
            
            //- 第二組 2
            .customer-table-column-item.col-12.row.no-gutters
                h4.customer-table-label.w-100.text-center.px-0.py-2 菌種生長情形
            .customer-table-column-item.col-12.row.no-gutters.border-wrapper
                .customer-table-list.col-sm.col-xs-6.col-12.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-0(for="") 第7天
                    .col-12
                        img.p-2.img-fluid.ml-auto.mr-auto.d-block(src="https://via.placeholder.com/200x120", alt="")
                .customer-table-list.col-sm.col-xs-6.col-12.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-0(for="") 第14天
                    .col-12
                        img.p-2.img-fluid.ml-auto.mr-auto.d-block(src="https://via.placeholder.com/200x120", alt="")
                .customer-table-list.col-sm.col-xs-6.col-12.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-0(for="") 第21天
                    .col-12
                        img.p-2.img-fluid.ml-auto.mr-auto.d-block(src="https://via.placeholder.com/200x120", alt="")
                .customer-table-list.col-sm.col-xs-6.col-12.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-0(for="") 第28天
                    .col-12
                        img.p-2.img-fluid.ml-auto.mr-auto.d-block(src="https://via.placeholder.com/200x120", alt="")
                .customer-table-list.col-sm.col-xs-6.col-12.row.no-gutters.p-0
                    .col-12
                        label.customer-table-label.w-100.text-center.p-0(for="") 實際出貨狀況
                    .col-12
                        img.p-2.img-fluid.ml-auto.mr-auto.d-block(src="https://via.placeholder.com/200x120", alt="")