.customer-table
    .customer-table-thead.border-wrapper
        .customer-table-thead-th
            h2.cutomer-table-title.text-center.m-0 植菌紀錄

    .customer-table-tbody
        .customer-table-column.row.no-gutters.align-items-stretch
            //- 第一組
            .customer-table-column-item.col-12.align-items-stretch
                h4.customer-table-label.w-100.text-center.px-0.py-2 接種室1
            .customer-table-column-item.col-lg-6.col-md-12.row.no-gutters.border-wrapper.align-items-stretch
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 來源:
                    .customer-table-input.col-auto(type="text" value="蕈源" readonly) 蕈源
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 品種:
                    .customer-table-input.col-auto(type="text" value="黑草" readonly) 黑草
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 溫度:
                    .customer-table-input.col-auto(type="text" value="23.5" readonly) 23.5
                    span.customer-table-symbol.col-auto °C
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 濃度:
                    .customer-table-input.col-auto(type="text" value="70" readonly) 70
                    span.customer-table-symbol.col-auto %
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 菌種量:
                    .customer-table-input.col-auto(type="text" value="200" readonly) 200
                    span.customer-table-symbol.col-auto 支
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 植菌員:
                    .customer-table-input.col-auto(type="text" value="一一一" readonly) 一一一
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 製包數:
                    .customer-table-input.col-auto(type="text" value="33000" readonly) 33000
                    span.customer-table-symbol.col-auto 包
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 客戶:
                    .customer-table-input.col-auto(type="text" value="二二二" readonly) 二二二
            .customer-table-column-item.col-lg-6.col-md-12.row.no-gutters.border-wrapper.align-items-stretch
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 來源:
                    .customer-table-input.col-auto(type="text" value="蕈源" readonly) 蕈源
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 品種:
                    .customer-table-input.col-auto(type="text" value="黑草" readonly) 黑草
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 溫度:
                    .customer-table-input.col-auto(type="text" value="23.5" readonly) 23.5
                    span.customer-table-symbol.col-auto °C
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 濃度:
                    .customer-table-input.col-auto(type="text" value="70" readonly) 70
                    span.customer-table-symbol.col-auto %
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 菌種量:
                    .customer-table-input.col-auto(type="text" value="200" readonly) 200
                    span.customer-table-symbol.col-auto 支
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 植菌員:
                    .customer-table-input.col-auto(type="text" value="三三三" readonly) 三三三
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 製包數:
                    .customer-table-input.col-auto(type="text" value="33000" readonly) 33000
                    span.customer-table-symbol.col-auto 包
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 客戶:
                    .customer-table-input.col-auto(type="text" value="四四四" readonly) 四四四
            
            //- 第二組
            .customer-table-column-item.col-12.align-items-stretch
                h4.customer-table-label.w-100.text-center.px-0.py-2 接種室2
            .customer-table-column-item.col-lg-6.col-md-12.row.no-gutters.border-wrapper.align-items-stretch
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 來源:
                    .customer-table-input.col-auto(type="text" value="蕈源" readonly) 蕈源
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 品種:
                    .customer-table-input.col-auto(type="text" value="黑草" readonly) 黑草
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 溫度:
                    .customer-table-input.col-auto(type="text" value="23.5" readonly) 23.5
                    span.customer-table-symbol.col-auto °C
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 濃度:
                    .customer-table-input.col-auto(type="text" value="70" readonly) 70
                    span.customer-table-symbol.col-auto %
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 菌種量:
                    .customer-table-input.col-auto(type="text" value="200" readonly) 200
                    span.customer-table-symbol.col-auto 支
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 植菌員:
                    .customer-table-input.col-auto(type="text" value="一一一" readonly) 一一一
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 製包數:
                    .customer-table-input.col-auto(type="text" value="33000" readonly) 33000
                    span.customer-table-symbol.col-auto 包
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 客戶:
                    .customer-table-input.col-auto(type="text" value="二二二" readonly) 二二二
            .customer-table-column-item.col-lg-6.col-md-12.row.no-gutters.border-wrapper.align-items-stretch
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 來源:
                    .customer-table-input.col-auto(type="text" value="蕈源" readonly) 蕈源
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 品種:
                    .customer-table-input.col-auto(type="text" value="黑草" readonly) 黑草
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 溫度:
                    .customer-table-input.col-auto(type="text" value="23.5" readonly) 23.5
                    span.customer-table-symbol.col-auto °C
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 濃度:
                    .customer-table-input.col-auto(type="text" value="70" readonly) 70
                    span.customer-table-symbol.col-auto %
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 菌種量:
                    .customer-table-input.col-auto(type="text" value="200" readonly) 200
                    span.customer-table-symbol.col-auto 支
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 植菌員:
                    .customer-table-input.col-auto(type="text" value="三三三" readonly) 三三三
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 製包數:
                    .customer-table-input.col-auto(type="text" value="33000" readonly) 33000
                    span.customer-table-symbol.col-auto 包
                .customer-table-list.customer-table-list-no-padding.col-sm-3.col-6.row.no-gutters.pl-05.pr-05
                    label.customer-table-label.col-auto(for="") 客戶:
                    .customer-table-input.col-auto(type="text" value="四四四" readonly) 四四四