.customer-table
    .customer-table-thead.border-wrapper
        .customer-table-thead-th
            h2.cutomer-table-title.text-center.m-0 出貨紀錄

    .customer-table-tbody
        .customer-table-column.row.no-gutters.align-items-stretch
            table.rwd-table
                tbody
                    mixin tableTR(title1, title2, title3, title4, title5, title6, title7, title8)
                        tr.text-md-center
                            th= title1
                            th= title2
                            th= title3
                            th= title4
                            th= title5
                            th= title6
                            th= title7
                            th= title8
                        tr.text-md-center
                            td(data-th= title1)
                                | 108/01/01
                            td(data-th= title2)
                                span 150000
                                span 包
                            td(data-th= title3)
                                span 24.6
                                span °C / 
                                span 72
                                span %
                            td(data-th= title4)
                                | 8成5
                            td(data-th= title5)
                                | 921
                            td(data-th= title6)
                                | 阿興
                            td(data-th= title7)
                                | ＸＸＸ
                            td(data-th= title8)
                                | 補包
                        
                        tr.text-md-center
                            td(data-th= title1)
                                | 108/01/01
                            td(data-th= title2)
                                span 180000
                                span 包
                            td(data-th= title3)
                                span 24.6
                                span °C / 
                                span 72
                                span %
                            td(data-th= title4)
                                | 8成5
                            td(data-th= title5)
                                | 921
                            td(data-th= title6)
                                | 老趙
                            td(data-th= title7)
                                | ＸＸＸ
                            td(data-th= title8)
                                | 扣款

                        tr.text-md-center
                            td(data-th= title1)
                                | 108/01/01
                            td(data-th= title2)
                                span 200000
                                span 包
                            td(data-th= title3)
                                span 24.6
                                span °C / 
                                span 72
                                span %
                            td(data-th= title4)
                                | 8成5
                            td(data-th= title5)
                                | 黑早
                            td(data-th= title6)
                                | ＸＸ
                            td(data-th= title7)
                                | ＸＸＸ
                            td(data-th= title8)
                                | 扣款
                    +tableTR("入包時間", "入包數量", "入包溫濕度", "成數", "接菌品系", "菌種來源", "入包菇農", "補償方式")