doctype html
html
    - var page_title = "香菇製包農場"
    head
        title= page_title
        include _head.pug
        style.
            .site-doc-icon li {
                display: inline-block;
                vertical-align: middle;
                width: 110px;
                height: 105px;
                line-height: 25px;
                padding: 20px 0;
                margin-right: -1px;
                margin-bottom: -1px;
                border: 1px solid #e2e2e2;
                font-size: 14px;
                text-align: center;
                color: #666;
                transition: all .3s;
                -webkit-transition: all .3s;
            }
            .site-doc-icon li .layui-icon {
                display: inline-block;
                font-size: 36px;
            }
            .site-doc-icon li .doc-icon-name,
            .site-doc-icon li .doc-icon-code {
                color: #c2c2c2;
            }
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
            /* 这段样式只是用于演示 */
            #LAY-component-grid-speed-dial .layui-card-body {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                font-size: 20px;
            }
            #LAY-component-grid-speed-dial .layui-card-body:hover {
                background-color: #FAFAFA;
            }
    body.layui-layout-body#index-body
        #LAY_app.layadmin-tabspage-none
            .layui-layout.layui-layout-admin
                //- 头部区域
                include _header.pug
                
                //- 主体内容
                #LAY_app_body.layui-body
                    .layadmin-tabsbody-item.layui-show
                        #LAY-component-grid-speed-dial.layui-fluid
                            .row
                                mixin indexLists(id, title, url, imgUrl)
                                    .col-4.p-0
                                        //- 填充内容
                                        .layui-card
                                            .layui-card-body
                                                .layui-anim
                                                    a.d-block(href= url)
                                                        img(src= imgUrl, alt= title, style='max-width: 100%;')
                                                        span.d-block.font-weight-bold= title
                                +indexLists('1', '攪拌裝填記錄', './stir.html', './static/images/pic1.png')
                                +indexLists('2', '滅菌記錄', './sterilization.html', './static/images/pic2.png')
                                +indexLists('3', '菌種進退貨資訊', './returns.html', './static/images/pic3.png')
                                +indexLists('4', '植菌記錄', 'phytophage.html', './static/images/pic4.png')
                                +indexLists('5', '出貨記錄', 'express.html', './static/images/pic5.png')
                                +indexLists('6', '歷史記錄', 'history.html', './static/images/pic6.png')
                                
                //- 辅助元素，一般用于移动设备下遮罩
                .layadmin-body-shade(layadmin-event='shade')
        script(src='./static/layui/layui/layui.js')
        script.
            layui.config({
                base: './static/layui/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index'], function () {
                var $ = layui.$
                    , admin = layui.admin
                    , element = layui.element;

                element.render('breadcrumb', 'breadcrumb');

                //监听窗口尺寸改变事件，控制宽度相同
                //- admin.resize(function () {
                //-     var cardBody = $('#LAY-component-grid-speed-dial .layui-card-body');
                //-     cardBody.height(cardBody.width())
                //- });
            });
