<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Work068
        //- Bootstrap CSS
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css")
        //- icon
        link(rel="stylesheet", href="https://i.icomoon.io/public/temp/fa633ca7dd/UntitledProject/style.css")
        //- Self CSS
        link(rel="stylesheet", href="styles/style.css")
    body
        .wrapper.container.p-0
            header
                nav(class="navbar navbar-expand-bg navbar-light position-absolute w-100")
                    h5.mb-0(class="text-center font-weight-bold") 新增出貨紀錄表
                    button.navbar-toggler.border-0(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                        span(class="navbar-toggler-icon")
                    div(class="collapse navbar-collapse" id="navbarCollapse")
                        ul(class="navbar-nav mr-auto")
                            mixin navbarLists(text, link)
                                li(class="nav-item")
                                    a(href=link class="nav-link")= text
                            +navbarLists('Home', '#')
                            +navbarLists('News', '#')
                            +navbarLists('Product', '#')
                            +navbarLists('Contact', '#')
            main
                section.form-section
                    form.mt-2
                        div.form-group.row
                            label.col-auto.col-form-label(for="form-group1") 出貨時間
                            .col
                                select.form-control.p-0#form-group1
                                    option(value="" selected)
                                    option(value="1") One
                                    option(value="2") Two
                                    option(value="3") Three
                        div.form-group.row
                            label.col-auto.col-form-label(for="form-group2") 出貨溫度
                            .col
                                input.form-control#input1(type="text")
                            .col-auto.ml-auto
                                span °C
                        div.form-group.row(required)
                            label.col-auto.col-form-label(for="form-group3") 品　　種
                            .col
                                select.form-control.p-0#form-group3
                                    option(value="" selected disabled)
                                    option(value="1") One
                                    option(value="2") Two
                                    option(value="3") Three
                        div.form-group.row(required)
                            label.col-auto.col-form-label(for="form-group4") 購買客戶
                            .col
                                input.form-control#form-group4(type="text")
                        div.form-group.row(required)
                            label.col-auto.col-form-label(for="form-group5") 訂購數量
                            .col
                                input.form-control#form-group5(type="text")
                            .col-auto.ml-auto
                                span 包
                        div.form-group.row(required)
                            label.col-auto.col-form-label(for="form-group6") 實際出貨數量
                            .col
                                input.form-control#form-group6(type="text")
                            .col-auto.ml-auto
                                span 包
                        div.form-group.row.border-0(required)
                            label.col-auto.col-form-label(for="form-group7" style="color: red;") 出貨單號
                        div.form-group.row.border-0.d-flex.justify-content-around.mt-5
                            a.btn.btn-primary(href="./") 回主頁
                            button.btn.btn-primary(type="submit") 儲存


        //- jQuery
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        //- Popper JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js")
        //- Bootstrap JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js")
        //- Self JS
        script(src="scripts/default/main.js")