doctype html
html
    - var page_title = "新增植菌記錄表"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./phytophage-log.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #ecfcff;")
                        .layadmin-tabsbody-item.layui-show
                            //- #LAY-component-grid-speed-dial.layui-fluid
                            //-     .layui-card
                            section.form-section
                                .form.my-2(style="max-width: 700px; margin: auto;")
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group1") 植菌日期
                                        .col
                                            select.form-control.p-0#form-group1
                                                option(value="" selected)
                                                option(value='10') 2019年09月10日
                                                option(value='8') 2019年09月08日
                                                option(value='1') 2019年09月01日
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group2") 植菌溫度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                input#form-group2.form-control.text-center(type="text")
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                span °C
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group3") 植菌濕度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                input#form-group3.form-control.text-center(type="text")
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                span %
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group4") 菌種來源
                                        .col
                                            select.form-control.p-0#form-group4
                                                option(value="" selected)
                                                option(value='1') 菌種來源1
                                                option(value='2') 菌種來源2
                                                option(value='3') 菌種來源3
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group5") 品種
                                        .col
                                            select.form-control.p-0#form-group5
                                                option(value="" selected)
                                                option(value='1') 品種1
                                                option(value='2') 品種2
                                                option(value='3') 品種3

                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group6") 菌種使用數量
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group6.form-control.text-center(type="text")
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    span /
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group6-2.form-control.text-center(type="text")
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    span 支

                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group7") 植菌人員
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                input#form-group7.form-control.text-center(type="text")

                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group8") 製做太空包數量
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                input#form-group8.form-control.text-center(type="text")
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                span 包

                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group9") 提供客戶
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                input#form-group9.form-control.text-center(type="text")

                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group10") 接種室
                                        .col
                                            select.form-control.p-0#form-group10
                                                option(value="" selected)
                                                option(value='1') 接種室1
                                                option(value='2') 接種室2
                                                option(value='3') 接種室3



                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./phytophage.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 儲存
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')

        script(src='./static/layui/layui/layui.js')
        script.
            layui.config({
                base: './static/layui/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                var $ = layui.$
                , admin = layui.admin
                , form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate
                , element = layui.element;
                form.render();
                laydate.render({
                    elem: '#date'
                });
                form.on('select(log)', function (data) {
                    location.href = './phytophage-log.html';
                });
            });
