doctype html
html
    - var page_title = "植菌紀錄"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./phytophage-modify.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #daf0e7;")
                        .layadmin-tabsbody-item.layui-show
                            //- #LAY-component-grid-speed-dial.layui-fluid
                            //-     .layui-card
                            .table-responsive.px-2.py-4(style="max-width: 700px; margin: auto;")
                                table.table.table-bordered.border-dark.text-center.table-bordered
                                    thead.border-dark.background-orange
                                        tr
                                            th.border-dark(colspan="2")
                                                h3.m-0 108年01月01日
                                table.table.table-bordered.border-dark.text-center.table-bordered
                                    thead.border-dark
                                        tr
                                            th.border-dark(colspan="2")
                                                p.m-0.font-bold 接種室1
                                    tbody.border-dark
                                        tr
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 來源：
                                                    p.m-0 蕈源
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 品種：
                                                    p.m-0 黑早
                                        tr
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 植菌溫度：
                                                    p.m-0 25.3°C
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 植菌濕度：
                                                    p.m-0 70%
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 植菌使用量：
                                                    p.m-0 200 支
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 植菌人員：
                                                    p.m-0 ＸＸＸ
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 製作太空包數量：
                                                    p.m-0 10000 包
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 提供客戶：
                                                    p.m-0 ＸＸＸ
                                    tbody.border-dark.border-top-width-2
                                        tr
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 來源：
                                                    p.m-0 蕈源
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 品種：
                                                    p.m-0 黑早
                                        tr
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 植菌溫度：
                                                    p.m-0 25.3°C
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 植菌濕度：
                                                    p.m-0 70%
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 植菌使用量：
                                                    p.m-0 200 支
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 植菌人員：
                                                    p.m-0 ＸＸＸ
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 製作太空包數量：
                                                    p.m-0 10000 包
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 提供客戶：
                                                    p.m-0 ＸＸＸ
                                    
                                table.table.table-bordered.border-dark.text-center.table-bordered
                                    thead.border-dark
                                        tr
                                            th.border-dark(colspan="2")
                                                p.m-0.font-bold 接種室2
                                    tbody.border-dark
                                        tr
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 來源：
                                                    p.m-0 蕈源
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 品種：
                                                    p.m-0 黑早
                                        tr
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 植菌溫度：
                                                    p.m-0 25.3°C
                                            td.border-dark
                                                .d-flex
                                                    p.m-0 植菌濕度：
                                                    p.m-0 70%
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 植菌使用量：
                                                    p.m-0 200 支
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 植菌人員：
                                                    p.m-0 ＸＸＸ
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 製作太空包數量：
                                                    p.m-0 10000 包
                                        tr
                                            td.border-dark(colspan="2")
                                                .d-flex
                                                    p.m-0 提供客戶：
                                                    p.m-0 ＸＸＸ
                                                




                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./phytophage.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 編輯
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')

        script(src='./static/layui/layui/layui.js')
        script.
                layui.config({
                    base: './static/layui/' //静态资源所在路径
                    }).extend({
                    index: 'lib/index' //主入口模块
                    }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                    var $ = layui.$
                        , admin = layui.admin
                        , form = layui.form
                        , layer = layui.layer
                        , laydate = layui.laydate
                        , element = layui.element;
                    form.render();

                    laydate.render({
                        elem: '#start_time',
                        type: 'time'
                    });
                    laydate.render({
                        elem: '#end_time',
                        type: 'time'
                    });

                    form.on('select(log)', function (data) {
                        location.href = './phytophage-log.html';
                    });
                    });

