doctype html
html
    - var page_title = "新增菌種進退貨資訊"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./returns-log.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #ecfcff;")
                        .layadmin-tabsbody-item.layui-show
                            //- #LAY-component-grid-speed-dial.layui-fluid
                            //-     .layui-card
                            section.form-section
                                .form.my-2
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group1") 進貨日期
                                        .col
                                            select.form-control.p-0#form-group1
                                                option(value="" selected)
                                                option(value='10') 2019年09月10日
                                                option(value='8') 2019年09月08日
                                                option(value='1') 2019年09月01日
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group2") 菌種來源
                                        .col
                                            select.form-control.p-0#form-group2
                                                option(value="" selected)
                                                option(value="1") 菌種來源1
                                                option(value="2") 菌種來源2
                                                option(value="3") 菌種來源3
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group3") 菌種品系
                                        .col
                                            select.form-control.p-0#form-group3
                                                option(value="" selected)
                                                option(value="1") 菌種品系1
                                                option(value="2") 菌種品系2
                                                option(value="3") 菌種品系3
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group4") 進貨數量
                                        .col
                                            input.form-control#form-group4(type="text")
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group5") 退貨數量
                                        .col
                                            input.form-control#form-group5(type="text")
                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./returns.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 儲存
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')

        script(src='./static/layui/layui/layui.js')
        script.
            layui.config({
                base: './static/layui/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                var $ = layui.$
                , admin = layui.admin
                , form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate
                , element = layui.element;
                form.render();
                laydate.render({
                    elem: '#date'
                });
                form.on('select(log)', function (data) {
                    location.href = './returns-log.html';
                });
            });
