doctype html
html
    - var page_title = "菌種進退貨資訊"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./returns-modify.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #daf0e7;")
                        .layadmin-tabsbody-item.layui-show
                            //- #LAY-component-grid-speed-dial.layui-fluid
                            //-     .layui-card
                            .table-responsive.px-2.py-4
                                table.table.table-bordered.border-dark.text-center
                                    thead
                                        tr
                                            th.border-dark.font-weight-bold 儲存日期
                                            th.border-dark.font-weight-bold 來源
                                            th.border-dark.font-weight-bold 品種
                                            th.border-dark.font-weight-bold 進貨數量
                                            th.border-dark.font-weight-bold 退貨數量
                                    tbody
                                        mixin returnsTable(date, from, type, purchase, purchase)
                                            tr
                                                td.border-dark= date
                                                td.border-dark= from
                                                td.border-dark= type
                                                td.border-dark= purchase
                                                td.border-dark= purchase
                                        +returnsTable("108/01/01", "阿興", "921", "1500", "300")
                                        +returnsTable("108/02/02", "阿興", "921", "1500", "300")
                                        +returnsTable("108/03/03", "阿興", "921", "1500", "300")
                                        +returnsTable("108/04/04", "阿興", "921", "1500", "300")
                                        +returnsTable("108/05/05", "阿興", "921", "1500", "300")
                                        +returnsTable("108/06/06", "阿興", "921", "1500", "300")
                                        +returnsTable("108/07/07", "阿興", "921", "1500", "300")
                                        +returnsTable("108/08/08", "阿興", "921", "1500", "300")
                                        +returnsTable("108/09/09", "阿興", "921", "1500", "300")
                                        +returnsTable("108/10/10", "阿興", "921", "1500", "300")
                                        +returnsTable("108/11/11", "阿興", "921", "1500", "300")
                                        +returnsTable("108/12/12", "阿興", "921", "1500", "300")


                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./returns.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 編輯
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')

        script(src='./static/layui/layui/layui.js')
        script.
                layui.config({
                    base: './static/layui/' //静态资源所在路径
                    }).extend({
                    index: 'lib/index' //主入口模块
                    }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                    var $ = layui.$
                        , admin = layui.admin
                        , form = layui.form
                        , layer = layui.layer
                        , laydate = layui.laydate
                        , element = layui.element;
                    form.render();

                    laydate.render({
                        elem: '#start_time',
                        type: 'time'
                    });
                    laydate.render({
                        elem: '#end_time',
                        type: 'time'
                    });

                    form.on('select(log)', function (data) {
                        location.href = './stir-log.html';
                    });
                    });

