doctype html
html
    - var page_title = "編輯滅菌記錄表"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./sterilization-log.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #fff1e9;")
                        .layadmin-tabsbody-item.layui-show
                            //- #LAY-component-grid-speed-dial.layui-fluid
                            //-     .layui-card
                            section.form-section
                                .form.my-2
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group0") 攪拌裝填日期
                                        .col
                                            select.form-control.p-0#form-group0
                                                option(value="")
                                                option(value='10' selected) 2019年09月10日
                                                option(value='8') 2019年09月08日
                                                option(value='1') 2019年09月01日
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group1") 滅菌日期
                                        .col
                                            select.form-control.p-0#form-group1
                                                option(value="")
                                                option(value='10' selected) 2019年09月10日
                                                option(value='8') 2019年09月08日
                                                option(value='1') 2019年09月01日
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group2") 滅菌爐編號
                                        .col
                                            select.form-control.p-0#form-group2
                                                option(value="")
                                                option(value="1" selected) 滅菌爐編號1
                                                option(value="2") 滅菌爐編號2
                                                option(value="3") 滅菌爐編號3
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group3") 天氣
                                        .col
                                            input.form-control#form-group3(type="text" value="晴天")
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group4") 溫溼度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group4.form-control.text-center(type="text" value="25.30")
                                                .col-auto
                                                    span °C
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    span /
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group4-2.form-control.text-center(type="text" value="88.26")
                                                .col-auto
                                                    span %
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group5") 番次
                                        .col
                                            select.form-control.p-0#form-group5
                                                option(value="")
                                                option(value="1" selected) 上午
                                                option(value="2") 下午
                                                option(value="3") 晚上
                                    div.form-group.row(required)
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group6") 滅菌時間
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group6.form-control.text-center(type="text" value="523")
                                            .col-auto.border-0.pr-2
                                                span 分
                                    div.form-group.row(required)
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group7") 壓力
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.row.no-gutters.px-2.py-2.align-items-center.border-0
                                                input#form-group7.form-control.text-right(type="text" value="2")
                                            .col-auto.row.no-gutters.px-2.py-2.align-items-center.border-0
                                                span ．
                                            .col.row.no-gutters.px-2.py-2.align-items-center.border-0
                                                input#form-group7-3.form-control.text-left(type="text" value="6")
                                            .col-auto.row.no-gutters.px-2.py-2.align-items-center.border-0
                                                span KG
                                    div.form-group.row(required)
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group8") 保溫時間
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group8.form-control.text-center(type="text" value="904")
                                            .col-auto.border-0.pr-2
                                                span 分
                                    div.form-group.row(required)
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group9") 出炊時間
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.row.no-gutters.px-2.py-2.align-items-center.border-0
                                                input#form-group9.form-control.text-right(type="text" value="18")
                                            .col-auto.row.no-gutters.px-2.py-2.align-items-center.border-0
                                                span ：
                                            .col.row.no-gutters.px-2.py-2.align-items-center.border-0
                                                input#form-group9-3.form-control.text-left(type="text" value="32")
                                    div.form-group.row(required)
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group10") 出炊溫度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.row.no-gutters.px-2.py-2.align-items-center.border-0
                                                input#form-group10.form-control.text-right(type="text" value="95")
                                            .col-auto.row.no-gutters.px-2.py-2.align-items-center.border-0
                                                span ．
                                            .col.row.no-gutters.px-2.py-2.align-items-center.border-0
                                                input#form-group10-3.form-control.text-left(type="text" value="0")
                                            .col-auto.row.no-gutters.px-2.py-2.align-items-center.border-0
                                                span °C
                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./sterilization-log.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 儲存
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')

        script(src='./static/layui/layui/layui.js')
        script.
            layui.config({
                base: './static/layui/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                var $ = layui.$
                , admin = layui.admin
                , form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate
                , element = layui.element;
                form.render();
                laydate.render({
                    elem: '#date'
                });
                form.on('select(log)', function (data) {
                    location.href = './sterilization-log.html';
                });
            });
