doctype html
html
    - var page_title = "滅菌記錄"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./sterilization-modify.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #daf0e7;")
                        .layadmin-tabsbody-item.layui-show
                            //- #LAY-component-grid-speed-dial.layui-fluid
                            //-     .layui-card
                            section.form-section
                                .form.my-2
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group0") 攪拌裝填日期
                                        .col
                                            input.form-control#form-group3(type="text" value="2019年09月10日" readonly)
                                            //- select.form-control.p-0#form-group0(disabled)
                                            //-     option(value="")
                                            //-     option(value='10' selected) 2019年09月10日
                                            //-     option(value='8') 2019年09月08日
                                            //-     option(value='1') 2019年09月01日
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group1") 滅菌日期
                                        .col
                                            input.form-control#form-group3(type="text" value="2019年09月10日" readonly)
                                            //- select.form-control.p-0#form-group1(disabled)
                                            //-     option(value="")
                                            //-     option(value='10' selected) 2019年09月10日
                                            //-     option(value='8') 2019年09月08日
                                            //-     option(value='1') 2019年09月01日
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group2") 滅菌爐編號
                                        .col
                                            input.form-control#form-group3(type="text" value="滅菌爐編號1" readonly)
                                            //- select.form-control.p-0#form-group2(disabled)
                                            //-     option(value="")
                                            //-     option(value="1" selected) 滅菌爐編號1
                                            //-     option(value="2") 滅菌爐編號2
                                            //-     option(value="3") 滅菌爐編號3
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group3") 天氣
                                        .col
                                            input.form-control#form-group3(type="text" value="晴天" readonly)
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group4") 溫溼度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group4.form-control.text-center(type="text" value="25.30" readonly)
                                                .col-auto
                                                    span °C
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    span /
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group4-2.form-control.text-center(type="text" value="88.26" readonly)
                                                .col-auto
                                                    span %
                                    div.form-group.row
                                       ul.list-group.col-12.p-0
                                            li.list-group-item.list-group-item-title.d-flex.px-2
                                                .col.p-0
                                                    span 滅菌爐編號1
                                                .col-auto.p-0
                                                    label.m-0 番次：
                                                    span 上午
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 滅菌時間：
                                                    span 523 分
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 壓力：
                                                    span 2.6 KG
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 保溫時間：
                                                    span 904分
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 出炊時間：
                                                    span 18:32
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 出炊溫度：
                                                    span 95 °C
                                                    
                                    div.form-group.row
                                       ul.list-group.col-12.p-0
                                            li.list-group-item.list-group-item-title.d-flex.px-2
                                                .col.p-0
                                                    span 滅菌爐編號1
                                                .col-auto.p-0
                                                    label.m-0 番次：
                                                    span 下午
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 滅菌時間：
                                                    span 500 分
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 壓力：
                                                    span 2.3 KG
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 保溫時間：
                                                    span 859分
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 出炊時間：
                                                    span 23:32
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 出炊溫度：
                                                    span 90 °C

                                    div.form-group.row
                                       ul.list-group.col-12.p-0
                                            li.list-group-item.list-group-item-title.d-flex.px-2
                                                .col.p-0
                                                    span 滅菌爐編號6
                                                .col-auto.p-0
                                                    label.m-0 番次：
                                                    span 上午
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 滅菌時間：
                                                    span 498 分
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 壓力：
                                                    span 2.1 KG
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 保溫時間：
                                                    span 705分
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 出炊時間：
                                                    span 15:39
                                            li.list-group-item.px-2.bg-transparent
                                                    label.m-0 出炊溫度：
                                                    span 81 °C

                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./sterilization.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 編輯
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')

        script(src='./static/layui/layui/layui.js')
        script.
                layui.config({
                    base: './static/layui/' //静态资源所在路径
                    }).extend({
                    index: 'lib/index' //主入口模块
                    }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                    var $ = layui.$
                        , admin = layui.admin
                        , form = layui.form
                        , layer = layui.layer
                        , laydate = layui.laydate
                        , element = layui.element;
                    form.render();

                    laydate.render({
                        elem: '#start_time',
                        type: 'time'
                    });
                    laydate.render({
                        elem: '#end_time',
                        type: 'time'
                    });

                    form.on('select(log)', function (data) {
                        location.href = './stir-log.html';
                    });
                    });

