doctype html
html
    - var page_title = "新增攪拌裝填記錄表"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./stir-log.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #ecfcff;")
                        .layadmin-tabsbody-item.layui-show
                            //- #LAY-component-grid-speed-dial.layui-fluid
                            //-     .layui-card
                            section.form-section
                                .form.my-2(style="max-width: 1000px; margin: auto;")
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group1") 日期
                                        .col.px-2
                                            .layui-form(lay-verify='from')
                                                input#date.w-100.border-0.px-3(type="text")
                                                //- select(name='log', lay-filter='log' data-type="date" id="date")
                                                //-     option(value="" selected)
                                                //-     option(value="1") 108年01月01日
                                                //-     option(value="2") 108年02月02日
                                                //-     option(value="3") 108年03月03日
                                            //- select.form-control.p-0#form-group1
                                            //-     option(value="" selected)
                                            //-     option(value="1") One
                                            //-     option(value="2") Two
                                            //-     option(value="3") Three
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group2") 天氣
                                        .col
                                            input.form-control#form-group2(type="text")
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group3") 溫溼度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group3.form-control.text-center(type="text")
                                                .col-auto
                                                    span °C
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    span /
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group3-2.form-control.text-center(type="text")
                                                .col-auto
                                                    span %
                                    div.form-group.row(required)
                                        label.col-12.col-form-label.text-left(for="form-group4") 木屑濕度：%
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group4.form-control.text-center(type="text")
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group4-2.form-control.text-center(type="text")
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group4-3.form-control.text-center(type="text")
                                                .col-auto
                                                    span %
                                    div.form-group.row(required)
                                        label.col-12.col-form-label.text-left(for="form-group5") 木屑PH值：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group5.form-control.text-center(type="text")
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group5-2.form-control.text-center(type="text")
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group5-3.form-control.text-center(type="text")
                                    div.form-group.row(required)
                                        .col-6.row.no-gutters.p-0.align-items-center
                                            label.col-auto.col-form-label(for="form-group6") 水分
                                            .col
                                                input#form-group6.form-control.text-center(type="text")
                                        .col-6.row.no-gutters.p-0.align-items-center.border-left.border-dark
                                            label.col-auto.col-form-label(for="form-group6-2") 養分
                                            .col
                                                input#form-group6-2.form-control.text-center(type="text")
                                    div.form-group.row(required data-add-wrapper)
                                        .col-12.p-0.d-flex.justify-content-between.align-items-center
                                            label.col-form-label.col(for="form-group7") 添加劑
                                            button.add-form-group-btn.mx-3(type="button" data-button="add-form-group" data-target="formAdd" onclick="addColumn(this)") 新增
                                        mixin formGroup7(no, text, gram)
                                            .form-group-group.col-12.row.no-gutters.p-0(data-add-template="formAdd")
                                                .col-6.row.no-gutters.px-2.py-2.align-items-center
                                                    .col.row.no-gutters.px-2.py-0.align-items-center
                                                        .col-auto.mr-2
                                                            span= no
                                                        .col
                                                            //- input#form-group7.form-control(type="text")
                                                            .layui-form(lay-verify='from')
                                                                select(name='log', lay-filter='log')
                                                                    option(value='' selected) 添加劑
                                                                    option(value='1') 添加劑1
                                                                    option(value='2') 添加劑2
                                                                    option(value='3') 添加劑3

                                                .col-6.row.no-gutters.px-2.py-2.align-items-center
                                                    .col
                                                        input#form-group7-2.form-control.text-right(type="text")
                                                    .col-auto
                                                        span 公克 
                                        +formGroup7("1.", "米糠", "80000")

                                    div.form-group.row(required)
                                        label.col-12.col-form-label.text-left(for="form-group8") 拌木屑濕度：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group8.form-control.text-center(type="text")
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group8-2.form-control.text-center(type="text")
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group8-3.form-control.text-center(type="text")
                                                .col-auto
                                                    span %
                                    div.form-group.row(required)
                                        label.col-12.col-form-label.text-left(for="form-group9") 拌木屑PH值：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group9.form-control.text-center(type="text")
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group9-2.form-control.text-center(type="text")
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group9-3.form-control.text-center(type="text")
                                    div.form-group.row
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group10") 木屑攪拌數
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group10.form-control.text-center(type="text")
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group10-2.form-control.text-center(type="text")
                                    div.form-group.row
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group11") 營養攪拌數
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group11.form-control.text-center(type="text")
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group11-2.form-control.text-center(type="text")
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group11-3.form-control.text-center(type="text")
                                    div.form-group.row
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group12") 水量攪拌數
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group12.form-control.text-center(type="text")
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group12-2.form-control.text-center(type="text")
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group13") 木屑入場時間
                                        .col.px-2
                                            .layui-form(lay-verify='from')
                                                select(name='log', lay-filter='log')
                                                    option(value='' selected) 
                                                    option(value='1') One
                                                    option(value='2') Two
                                                    option(value='3') Three
                                        
                                            //- select.form-control.p-0#form-group13
                                            //-     option(value="" selected)
                                            //-     option(value="1") One
                                            //-     option(value="2") Two
                                            //-     option(value="3") Three
                                    div.form-group.row(required)
                                        label.col-12.col-form-label.text-left(for="form-group14") 包重：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group14.form-control.text-right(type="text")
                                                .col-auto
                                                    span 公克
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group14-2.form-control.text-right(type="text")
                                                .col-auto
                                                    span 公克
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group14-3.form-control.text-right(type="text")
                                                .col-auto
                                                    span 公克
                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./stir.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 儲存
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')

        script(src='./static/layui/layui/layui.js')
        script.
            layui.config({
                base: './static/layui/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                var $ = layui.$
                , admin = layui.admin
                , form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate
                , element = layui.element;
                form.render();
                laydate.render({
                    elem: '#date'
                });
                laydate.render({ 
                    elem: '#time'
                    ,type: 'time'
                });
            });

            //- $('[data-button="add-form-group"]').on('click', function() {
            //-     form.render();
            //- })