doctype html
html
    - var page_title = "編輯攪拌裝填記錄表"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./stir-log.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #fff1e9;")
                        .layadmin-tabsbody-item.layui-show
                            section.form-section
                                .form.my-2(style="max-width: 1000px; margin: auto;")
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group1") 日期
                                        .col.px-2
                                            .layui-form(lay-verify='from')
                                                select(name='log', lay-filter='log')
                                                    option(value="")
                                                    option(value="1" selected) 108年01月01日
                                                    option(value="2") 108年02月02日
                                                    option(value="3") 108年03月03日
                                            //- select.form-control.p-0#form-group1
                                            //-     option(value="")
                                            //-     option(value="1" selected) 108年01月01日
                                            //-     option(value="2") 108年02月02日
                                            //-     option(value="3") 108年03月03日
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group2") 天氣
                                        .col
                                            input.form-control#form-group2(type="text" value="晴天")
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group3") 溫溼度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group3.form-control.text-center(type="text" value="23.5")
                                                .col-auto
                                                    span °C
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    span /
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group3-2.form-control.text-center(type="text" value="72.04")
                                                .col-auto
                                                    span %
                                    div.form-group.row(required)
                                        label.col-12.col-form-label.text-left(for="form-group4") 木屑濕度：%
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group4.form-control.text-center(type="text" value="65.02")
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group4-2.form-control.text-center(type="text" value="65.08")
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group4-3.form-control.text-center(type="text" value="65.10")
                                                .col-auto
                                                    span %
                                    div.form-group.row(required)
                                        label.col-12.col-form-label.text-left(for="form-group5") 木屑PH值：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group5.form-control.text-center(type="text" value="7.20")
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group5-2.form-control.text-center(type="text" value="7.14")
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group5-3.form-control.text-center(type="text" value="7.08")
                                    div.form-group.row(required)
                                        .col-6.row.no-gutters.p-0.align-items-center
                                            label.col-auto.col-form-label(for="form-group6") 水分
                                            .col
                                                input#form-group6.form-control.text-center(type="text" value="514")
                                        .col-6.row.no-gutters.p-0.align-items-center
                                            label.col-auto.col-form-label(for="form-group6-2") 養分
                                            .col
                                                input#form-group6-2.form-control.text-center(type="text" value="70")
                                    div.form-group.row(required data-add-wrapper)
                                        .col-12.p-0.d-flex.justify-content-between.align-items-center
                                            label.col-form-label.col(for="form-group7") 添加劑
                                            button.add-form-group-btn.mx-3(type="button" data-button="add-form-group" data-target="formAdd" onclick="addColumn(this)") 新增
                                        mixin formGroup7(no, text, gram)
                                            .form-group-group.col-12.row.no-gutters.p-0(data-add-template="formAdd")
                                                .col-6.row.no-gutters.px-2.py-2.align-items-center
                                                    .col.row.no-gutters.px-2.py-0.align-items-center
                                                        .col-auto.mr-2
                                                            span= no
                                                        .col
                                                            //- input#form-group7.form-control(type="text" value= text)
                                                            .layui-form(lay-verify='from')
                                                                select(name='log', lay-filter='log')
                                                                    option(value='0' selected) 米糠
                                                                    option(value='1') 玉米粉
                                                                    option(value='2') 粉頭
                                                                    option(value='3') 豆粕
                                                                    option(value='4') 碳酸鈣
                                                .col-6.row.no-gutters.px-2.py-2.align-items-center
                                                    .col
                                                        input#form-group7-2.form-control.text-right(type="text" value= gram)
                                                    .col-auto
                                                        span 公克 
                                        +formGroup7("1.", "米糠", "80000")
                                        +formGroup7("2.", "玉米粉", "5000")
                                        +formGroup7("3.", "粉頭", "20000")
                                        +formGroup7("4.", "豆粕", "1800")
                                        +formGroup7("5.", "碳酸鈣", "500")
                                    div.form-group.row(required)
                                        label.col-12.col-form-label.text-left(for="form-group8") 拌木屑濕度：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group8.form-control.text-center(type="text" value="65.02")
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group8-2.form-control.text-center(type="text" value="65.14")
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group8-3.form-control.text-center(type="text" value="65.08")
                                                .col-auto
                                                    span %
                                    div.form-group.row(required)
                                        label.col-12.col-form-label.text-left(for="form-group9") 拌木屑PH值：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group9.form-control.text-center(type="text" value="7.20")
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group9-2.form-control.text-center(type="text" value="7.13")
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group9-3.form-control.text-center(type="text" value="7.21")
                                    div.form-group.row
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group10") 木屑攪拌數
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group10.form-control.text-center(type="text" value="41")
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group10-2.form-control.text-center(type="text" value="258643")
                                    div.form-group.row
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group11") 營養攪拌數
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group11.form-control.text-center(type="text" value="4")
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group11-2.form-control.text-center(type="text" value="710")
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group11-3.form-control.text-center(type="text" value="2907")
                                    div.form-group.row
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group12") 水量攪拌數
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group12.form-control.text-center(type="text" value="41")
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group12-2.form-control.text-center(type="text" value="6378")
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group13") 木屑入場時間
                                        .col.px-2
                                            .layui-form(lay-verify='from')
                                                select(name='log', lay-filter='log')
                                                    option(value="" selected)
                                                    option(value="1") 11:43
                                                    option(value="2") 12:00
                                                    option(value="3") 15:00
                                            //- select.form-control.p-0#form-group13
                                            //-     option(value="")
                                            //-     option(value="1" selected) 11:43
                                            //-     option(value="2") 12:00
                                            //-     option(value="3") 15:00
                                    div.form-group.row(required)
                                        label.col-12.col-form-label.text-left(for="form-group14") 包重：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group14.form-control.text-right(type="text" value="1483")
                                                .col-auto
                                                    span 公克
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group14-2.form-control.text-right(type="text" value="1488")
                                                .col-auto
                                                    span 公克
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group14-3.form-control.text-right(type="text" value="1490")
                                                .col-auto
                                                    span 公克
                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./stir-log.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 儲存
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')
            script(src='./static/layui/layui/layui.js')
            script.
                layui.config({
                    base: './static/layui/' //静态资源所在路径
                    }).extend({
                    index: 'lib/index' //主入口模块
                    }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                    var $ = layui.$
                        , admin = layui.admin
                        , form = layui.form
                        , layer = layui.layer
                        , laydate = layui.laydate
                        , element = layui.element;
                    form.render();

                    laydate.render({
                        elem: '#start_time',
                        type: 'time'
                    });
                    laydate.render({
                        elem: '#end_time',
                        type: 'time'
                    });

                    //- form.on('select(log)', function (data) {
                    //-     location.href = './stir-log.html';
                    //- });
                });
