@charset "UTF-8";

$orange: #f1a666;

body {
    font-family: $font-family-default;
    &.layui-layout-body {
        min-width: 320px;
        overflow-x: auto;
    }
}
label {
    margin-bottom: 0;
}
.table-bordered thead td, 
.table-bordered thead th {
    border-bottom-width: 1px;
}
.background-orange {
    background-color: $orange !important;
}

@media (max-width: 1199px) and (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 993px) {
    .hasLayuiFooter {
        .layui-body {
            height: calc(100% - 50px - 51px);
        }
    }
}

@media (max-width: 992px) {
    html, body, .layadmin-tabspage-none, .layui-layout-admin {
        width: 100%;
        height: 100%;
    }
    .layadmin-tabspage-none {
        .layui-layout-admin {
            display: flex;
            flex-direction: column;
            .layui-header,
            .layui-body,
            .layui-footer {
                position: relative;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;
            }
            .layui-header,
            .layui-footer {
                flex: 0 0 auto;
            }
            .layui-body {
                flex: 1 1 auto;
            }
            // .layui-body {
            //     .layadmin-tabsbody-item {
            //         position: relative;
            //     }
            // }
        }
    }
}

@media (max-width: 575px) and (min-width: 400px) {
    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 399px) {
    html {
        font-size: 12px;
    }
}
a {
    color: inherit;
    text-decoration: none !important;
    &:hover {
        color: red;
    }
}