.form {
    width: 100%;
    padding: 10px 50px;
    @media (max-width: 399px) {
        padding: 10px 40px;
    }
}

.cutomer-table-title {
    font-size: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

[readonly]:focus {
    outline: none;
    box-shadow: none;
}

.form-group{
    position: relative;
    align-items: center;
    margin-bottom: 0;
    &+.form-group {
        margin-top: 0.5rem;
    }
    .list-group-item-title {
        background: #92d5ba;
    }
    .btn-primary {
        border: 0;
        padding: 2px 12px 4px 12px;
        line-height: 1;
    }

    $form-group-group-border-color: #000;
    .form-group-group {
        border-top: solid 1px $form-group-group-border-color;
        &>[class*="col"] + [class*="col"] {
            border-left: solid 1px $form-group-group-border-color;
        }
    }

    .col-form-label,
    .custom-select,
    .form-control {
        background: transparent;
    }
    .col-form-label,
    .form-control {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    .custom-select,
    .form-control {
        height: calc(1.75rem + 2px);
    }

    .col-form-label {
        padding-left: 15px;
        padding-right: 15px;
        font-weight: bold;
        &.col-12 {
            text-align: center;
            &::after {
                content: '';
            }
        }
    }

    .add-form-group-btn {
        background-color: #fff;
        border: solid 1px #000;
        border-radius: 3px;
        font-size: 1rem;
        padding: .15rem 1rem;
    }




    border: solid 1px #000;
    border-radius: 5px;
    &[required] {
        &::before {
            position: absolute;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
            color: red;
            content: "\e901";
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }
    }
    label + .col {
        padding-right: 0;
    }
    .form-control,
    .custom-select{
        border: 0;
    }
    @media (min-width: 993px) {
        .col-form-label {
            min-width: 140px;
            &:not(.col-12) {
                border-right: solid 1px #000;
            }
        }
    }
    @media (max-width: 992px) {
        .col-form-label {
            &::after {
                content: ' :'
            }
        }
    }
    @media (max-width: 399px) {
        &[required] {
            &::before {
                left: -20px;
            }
        }
        .col-form-label,
        .custom-select,
        .form-control {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        
    }
    // @media (min-width: 399px) {
    //     border: solid 1px #000;
    //     border-radius: 5px;
    //     &[required] {
    //         &::before {
    //             position: absolute;
    //             left: -25px;
    //             top: 50%;
    //             transform: translateY(-50%);
    //             color: red;
    //             content: "\e901";
    //             font-family: 'icomoon' !important;
    //             speak: none;
    //             font-style: normal;
    //             font-weight: normal;
    //             font-variant: normal;
    //             text-transform: none;
    //             line-height: 1;
    //             -webkit-font-smoothing: antialiased;
    //         }
    //     }
    //     label + .col {
    //         padding-right: 0;
    //     }
    //     .form-control,
    //     .custom-select{
    //         border: 0;
    //     }
    // }
    // @media (max-width: 399px) {
    //     &[required] {
    //         .col-form-label {
    //             position: relative;
    //         &::before {
    //             position: absolute;
    //             left: -25px;
    //             top: 50%;
    //             transform: translateY(-50%);
    //             color: red;
    //             content: "\e901";
    //             font-family: 'icomoon' !important;
    //             speak: none;
    //             font-style: normal;
    //             font-weight: normal;
    //             font-variant: normal;
    //             text-transform: none;
    //             line-height: 1;
    //             -webkit-font-smoothing: antialiased;
    //         }
    //         }
    //     }
    //     label + .col {
    //         padding-left: 0;
    //         padding-right: 0;
    //     }
    //     .form-control,
    //     .custom-select{
    //         border: 0;
    //         border-bottom: solid 1px #000;
    //         border-radius: 0;
    //     }
    //     .col-form-label {
    //         width: 100%;
    //         flex: 0 0 100%;
    //         padding-left: 0;
    //         &::after {
    //             content: '：'
    //         }
    //     }
    //     .form-control {
    //         padding-left: 0;
    //         padding-right: 15px;
    //     }
    // }
}