@charset "UTF-8";

$layui-side-width: 220px;
$layui-side-collapsed-width: 60px;

.layui-layout-center {
    cite {
        font-size: 1.35rem;
    }
}
.layadmin-tabspage-none {
    .layui-layout-admin {
        .layui-header {
            border-bottom: solid 2px #d0b192;
            box-shadow: none;
            .layui-layout-left {
                z-index: 3;
            }
            .layui-layout-center {
                width: 100%;
                position: absolute!important;
                left: 0;
                top: 0;
                transition: all .3s;
            }
            .layui-nav-item {
                & > a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }
            .icon-home {
                font-size: 1rem;
            }
            .icon-member {
                font-size: 1.75rem;
                border: solid 2px #000;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                &+span {
                    display: none;
                }
            }
        }
    }
    &.layadmin-side-spread-sm {
        .layui-layout-admin {
            .layui-layout-center {
                left: 0;
                transform: translate3d($layui-side-width, 0, 0);
            }
        }
    }
    @media (min-width: 993px) {
        .layui-layout-admin {
            
            .layui-header,
            .layui-footer {
                width: calc(100% - #{$layui-side-width});
                left: $layui-side-width !important;
                transition: all .3s;
            }
            .layui-header {
                .layui-layout-center,
                .layui-layout-left {
                    left: 0;
                }
                .layui-layout-right {
                    right: 0;
                }
                .layui-layout-center {
                    padding: 0;
                    .layui-nav-item {
                        width: 100%;
                        a {
                            width: 100%;
                            padding: 0;
                            cite {
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        &.layadmin-side-shrink {
            .layui-header,
            .layui-footer {
                width: calc(100% - #{$layui-side-collapsed-width});
                left: $layui-side-collapsed-width !important;
            }
        }
    }
}
