@charset "UTF-8";

#index-body {
    .layui-body {
        .layui-card, 
        .layui-card-body {
            height: 100%;
        }
        .layui-card {
            box-shadow: none;
            &-body {
                padding: 15px 5px;
                font-size: 1rem;
                img {
                    height: 70px;
                }
            }
        }
    }
    .layadmin-tabsbody-item {
        background-color: #fff;
        .layui-fluid {
            background-color: #fff;
        }
    }
    #LAY-component-grid-speed-dial {
        .layui-card-body {
            &:hover {
                background-color: transparent;
            }
        }
    }
}

.layui-card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
}

.layui-form-item {
    margin-bottom: 0;
    & + .layui-form-item {
        margin-top: 15px;
    }
}