html, body, main {
    width: 100%;
    height: 100%;
}
body {
    min-width: 320px;
    @media (min-width: 400px) {
        padding: 30px 0;
    }
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    @media (min-width: 400px) {
        width: 90%;
        max-width: 480px;
        margin: 0 auto;
        border: solid 3px #000;
        border-radius: 15%;
    }
}

header {
    position: relative;
    z-index: 999;
    .navbar {
        border-bottom: solid 1px #ccc;
        background-color: #fff;
        .navbar-nav {
            border-top: solid 1px #ccc;
        }
        @media (min-width: 400px) {
            padding: 0;
            h5,
            .navbar-nav {
                padding: 0 2rem;
            }
            .navbar-toggler {
                margin-right: 1.5rem;
                padding: .75rem .75rem;
            }
        }
    }
}

form {
    width: 100%;
    padding: 10px 50px;
}

.form-group{
    position: relative;
    align-items: center;
    .btn-primary {
        border: 0;
        padding: 2px 12px 4px 12px;
        line-height: 1;
    }
    @media (min-width: 400px) {
        border: solid 1px #000;
        border-radius: 5px;
        &[required=required] {
            &::before {
                position: absolute;
                left: -25px;
                top: 50%;
                transform: translateY(-50%);
                color: red;
                content: "\e929";
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
            }
        }
        label + .col {
            padding-right: 0;
        }
        .form-control,
        .custom-select{
            border: 0;
        }
    }
    @media (max-width: 399px) {
        &[required=required] {
            .col-form-label {
                position: relative;
                &::before {
                    position: absolute;
                    left: -25px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: red;

                    content: "\e929";
                    font-family: 'icomoon' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                }
            }
        }
        label + .col {
            padding-left: 0;
            padding-right: 0;
        }
        .form-control,
        .custom-select{
            border: 0;
            border-bottom: solid 1px #000;
            border-radius: 0;
        }
        .col-form-label {
            width: 100%;
            flex: 0 0 100%;
            padding-left: 0;
            &::after {
                content: '：'
            }
        }
        .form-control {
            padding-left: 0;
            padding-right: 15px;
        }
    }
}
* {
    &:focus {
        color: inherit;
        background-color: inherit;
        border-color: inherit;
        outline: 0 !important;
        box-shadow: none !important;
    }
}