.customer-table {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    .pl-05 {
        padding-left: 0.25rem !important;
    }
    .pr-05 {
        padding-right: 0.25rem !important;
    }
    .no-gutters {
        &>.pl-05 {
            padding-left: 0.25rem !important;
        }

        &.pr-05 {
            padding-right: 0.25rem !important;
        }
    }
    .border-wrapper {
        &>* {
            border: solid 1px #000;
        }
    }
    &-group {

    }
    &-thead {
        &-th {
            background-color: $orange;
        }
    }
    &-tbody {

    }
    &-column {
        &-item {
            display: flex;
            align-items: center;
            border: solid 1px #000;
            .customer-table-label {
                padding-left: 0.5rem;
                font-size: 1rem;
                margin-bottom: 0;
                line-height: 1.25;
            }
            .customer-table-symbol {
                padding-right: 0.5rem;
            }
            .customer-table-input {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                border: 0;
                background: transparent;
                min-width: 0;
            }
            .customer-table-list {
                align-items: center;
                & + .customer-table-list {
                    padding-left: 0.5rem;
                }
                &-no-padding {
                    &>* {
                        padding: 0 !important;
                    }
                }
            }
            & & {
                border: 0;
                border-left: solid 1px #000;
            }
            & & + & {
                border-top: solid 1px #000;
            }
            & > [class*="col"] {
                padding: 0;
                &:first-child {
                    padding-left: 0.5rem;
                }
                &:last-child {
                    padding-right: 0.5rem;
                }
            }
        }
    }
}

.border-top-width-2 {
    border-top-width: 2px !important;    
}

.table {
    thead {
        th {
            border-width: 1px;
        }
    }
    tbody {
        & + tbody {
            border-width: 1px;
        }
    }
}

$border-color: #000;
.rwd-table {
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;

    overflow: hidden;

    tr {
        &:first-child {
            border-top: none;
        }
    }

    th {
        display: none;
    }

    td {
        display: block;

        &:first-child {
            margin-top: .5em;
        }

        &:last-child {
            margin-bottom: .5em;
        }

        &:before {
            content: attr(data-th) ": ";
            font-weight: bold;
            width: 120px;
            display: inline-block;
            color: #000;
        }
    }

    th,
    td {
        padding: .5em 1em;
        border: 1px solid $border-color;

    }
}



@media screen and (max-width: 767px) {
    .rwd-table {
        tr {
            border: 1px solid $border-color;
        }

        th,
        td {
            border: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .rwd-table td:before {
        display: none;
    }

    .rwd-table {
        th,
        td {
            display: table-cell;
            padding: .25em .5em;
        }
    }

}



.history-list2-wrapper {
    .table {
        th, td {
            padding: 0;
        }
    }
}