@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ehwks2');
  src:  url('fonts/icomoon.eot?ehwks2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ehwks2') format('truetype'),
    url('fonts/icomoon.woff?ehwks2') format('woff'),
    url('fonts/icomoon.svg?ehwks2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-member:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e901";
}
