.layui-layout-admin .layui-footer {
  height: auto;
  line-height: normal; }
  .layui-layout-admin .layui-footer .layui-btn {
    border: solid 1px #009688;
    min-width: 80px;
    height: auto;
    line-height: 1.25;
    font-size: 0.875rem;
    padding: 6px 18px; }
