.form {
  width: 100%;
  padding: 10px 50px; }
  @media (max-width: 399px) {
    .form {
      padding: 10px 40px; } }

[readonly]:focus {
  outline: none;
  box-shadow: none; }

.form-group {
  position: relative;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  border: solid 1px #000;
  border-radius: 5px; }
  .form-group + .form-group {
    margin-top: 0.5rem; }
  .form-group .list-group-item-title {
    background: #92d5ba; }
  .form-group .btn-primary {
    border: 0;
    padding: 2px 12px 4px 12px;
    line-height: 1; }
  .form-group .form-group-group {
    border-top: solid 1px #000; }
    .form-group .form-group-group > [class*="col"] + [class*="col"] {
      border-left: solid 1px #000; }
  .form-group .col-form-label,
  .form-group .custom-select,
  .form-group .form-control {
    background: transparent; }
  .form-group .col-form-label,
  .form-group .form-control {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
  .form-group .custom-select,
  .form-group .form-control {
    height: calc(1.75rem + 2px); }
  .form-group .col-form-label {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold; }
    .form-group .col-form-label.col-12 {
      text-align: center; }
      .form-group .col-form-label.col-12::after {
        content: ''; }
  .form-group .add-form-group-btn {
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 3px;
    font-size: 1rem;
    padding: .15rem 1rem; }
  .form-group[required]::before {
    position: absolute;
    left: -25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: red;
    content: "\e901";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased; }
  .form-group label + .col {
    padding-right: 0; }
  .form-group .form-control,
  .form-group .custom-select {
    border: 0; }
  @media (min-width: 993px) {
    .form-group .col-form-label {
      min-width: 140px; }
      .form-group .col-form-label:not(.col-12) {
        border-right: solid 1px #000; } }
  @media (max-width: 992px) {
    .form-group .col-form-label::after {
      content: ' :'; } }
  @media (max-width: 399px) {
    .form-group[required]::before {
      left: -20px; }
    .form-group .col-form-label,
    .form-group .custom-select,
    .form-group .form-control {
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }
