@charset "UTF-8";
html, body, main {
  width: 100%;
  height: 100%; }

body {
  min-width: 320px; }
  @media (min-width: 400px) {
    body {
      padding: 30px 0; } }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  @media (min-width: 400px) {
    .wrapper {
      width: 90%;
      max-width: 480px;
      margin: 0 auto;
      border: solid 3px #000;
      border-radius: 15%; } }

header {
  position: relative;
  z-index: 999; }
  header .navbar {
    border-bottom: solid 1px #ccc;
    background-color: #fff; }
    header .navbar .navbar-nav {
      border-top: solid 1px #ccc; }
    @media (min-width: 400px) {
      header .navbar {
        padding: 0; }
        header .navbar h5,
        header .navbar .navbar-nav {
          padding: 0 2rem; }
        header .navbar .navbar-toggler {
          margin-right: 1.5rem;
          padding: .75rem .75rem; } }

form {
  width: 100%;
  padding: 10px 50px; }

.form-group {
  position: relative;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .form-group .btn-primary {
    border: 0;
    padding: 2px 12px 4px 12px;
    line-height: 1; }
  @media (min-width: 400px) {
    .form-group {
      border: solid 1px #000;
      border-radius: 5px; }
      .form-group[required=required]::before {
        position: absolute;
        left: -25px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: red;
        content: "\e929";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased; }
      .form-group label + .col {
        padding-right: 0; }
      .form-group .form-control,
      .form-group .custom-select {
        border: 0; } }
  @media (max-width: 399px) {
    .form-group[required=required] .col-form-label {
      position: relative; }
      .form-group[required=required] .col-form-label::before {
        position: absolute;
        left: -25px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: red;
        content: "\e929";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased; }
    .form-group label + .col {
      padding-left: 0;
      padding-right: 0; }
    .form-group .form-control,
    .form-group .custom-select {
      border: 0;
      border-bottom: solid 1px #000;
      border-radius: 0; }
    .form-group .col-form-label {
      width: 100%;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      padding-left: 0; }
      .form-group .col-form-label::after {
        content: '：'; }
    .form-group .form-control {
      padding-left: 0;
      padding-right: 15px; } }

*:focus {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
  outline: 0 !important;
  box-shadow: none !important; }
